@media (min-width: 64em) {
    // Large screen
}

@media (min-width: 40em) and (max-width: 64em){
    // Medium screen
}

@media (max-width: 40em) {
    // Small screen

    .blog-article {
        width: 90%;

        h1 {
            font-size: 2.5rem;
            line-height: 1.6;
        }

        h2 {
            font-size: 2rem;
            padding-top: .5rem;
            margin-top: .5rem;
        }

        h3 {
            font-size: 1.5rem;
            padding-top: .3rem;
            margin-top: .3rem;
        }

        .speaker {
            flex-direction: column;
            
            div {
                width: 100%;
            }
        }

        .ifly {
            width: 100%;
        }
    }

    .article-aside-menu {
        display: none;
    }

    .disqus {
        width: 95%;
    }
}