@media (min-width: 64em) {
  // Large screen
  .curriculum-vitae {
    .small-screen {
      display: none;
    }
  }
}

@media (min-width: 40em) and (max-width: 64em) {
  // Medium screen
  .curriculum-vitae {
    width: 65%;

    .small-screen {
      display: none;
    }
  }
}

@media (max-width: 40em) {
  // Small screen
  .curriculum-vitae {
    width: 65%;

    .large-screen {
      display: none;
    }

    .small-screen:first-child {
      margin-top: 2rem;
    }

    .cv-part {
      &.cv-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 1rem;

        ul {
          padding-top: 1rem;
          position: relative;
          right: 0%;
        }
      }

      &.skills {
        .skills-list {
          li {
            padding: 0;
            display: flex;
            flex-direction: column;

            strong {
              display: block;
            }

            p {
              position: static;
              padding: 0.4rem 0 0.5rem 0.7rem;
            }
          }
        }
      }
    }
  }
}
