/**
 * Hamburger style with animations
 */
@media screen and (max-width: 1025px) {
  $hamburger-height: 5rem;
  $hamburger-width: 100%;

  .hamburger {
    display: inline-block;
    height: $hamburger-height;
    line-height: normal;
    transform: rotate(0deg);
    cursor: pointer;
    vertical-align: middle;
    width: $hamburger-width;
    z-index: 100;

    & span {
      background: $idci-darker-grey;
      border-radius: 9px;
      display: block;
      height: .1rem;
      left: $hamburger-width / 10;
      opacity: 1;
      position: absolute;
      transform: rotate(0deg);
      transition: .25s ease-in-out;
      width: 2rem;

      &:nth-child(1) {
        top: $hamburger-height / 4;
        transform-origin: left center;
      }

      &:nth-child(2) {
        top: ($hamburger-height / 4) + 0.5;
        transform-origin: left center;
      }

      &:nth-child(3) {
        top: ($hamburger-height / 4) + 1;
        transform-origin: left center;
      }
    }
  }
}