@media (min-width: 64em) {

    // Large screen

    section.index-part {
        img.accordion-image {
            display: none;
        }

        i.fas {
            display: none;
        }
    }
}

@media (min-width: 40em) and (max-width: 64em) {

    // Medium screen

    ul.aside-navigation-menu {
        display: none;
    }

    section.index-part {
        img.accordion-image {
            display: none;
        }

        i.fas {
            display: none;
        }
    }
}

@media (max-width: 40em) {

    // Small screen

    section.index-part {

        header.header-index-part {
            display: flex;

            img.accordion-image {
                width: 4rem;
                height: 4rem;
            }
            
            em.index-sub-title {
                display: none;
            }
    
            h2 {
                font-size: 1.5rem;
                line-height: 5rem;
            }
    
            i.fas {
            }
    
            .scroll-to {
                display: none;
            }
    
        }

        img.index-image {
            display: none;
        }

        &.presentation {
            em {
                font-size: 1rem;
                margin: 1.75rem 0;
            }

            h2 {
                font-size: 2rem;
                font-weight: 100;
            }

            p {
                font-size: 1rem;
            }
        }
    
        &.development {
            pre {
                display: none;
            }
        }

        &.training {
            img.arrow {
                display: none;
            }
        }

        &.approach {
            display: none;
        }

        &.tools {
            display: none;
        }
    }

    ul.aside-navigation-menu {
        display: none;
    }
}