.input {
  position: relative;
  min-height: 4rem;
  margin: 1rem auto;
  max-height: 8rem;
  max-width: 40rem;
  vertical-align: top;
  border: 1px solid #ccc;
  background-color: $idci-white;
  text-transform: uppercase;

  input {
    width: calc(100% - 50px);
  }
}

.input__field {
  position: relative;
  display: block;
  padding: 0.8rem;
  width: 60%;
  border: none;
  border-radius: 0;
  background: #f0f0f0;
  color: #aaa;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-appearance: none; /* for box shadows to show on iOS */

  &:focus {
    outline: none;
  }
}

.input__label {
  padding: 0 1rem;
  width: 40%;
  color: #6a7989;
  font-weight: bold;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input__label-content {
  position: relative;
  display: block;
  padding: 1.6rem 0;
  width: 100%;
}

.input--juro {
  overflow: hidden;
}

.input__field--juro {
  position: absolute;
  z-index: 100;
  padding: 2.15rem 0.75rem 0;
  width: 100%;
  background: transparent;
  color: $idci-blue;
  font-size: 0.85rem;
}

.input__label--juro {
  padding: 0;
  width: 100%;
  background: #fff;
  text-align: left;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0 solid transparent;
    -webkit-transition: border-width 0.3s, border-color 0.3s;
    transition: border-width 0.3s, border-color 0.3s;
  }
}

.input__label-content--juro {
  padding: 1rem;
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transition: -webkit-transform 0.3s, color 0.3s;
  transition: transform 0.3s, color 0.3s;

  text-rendering: geometricPrecision;
}

.input__field--juro:focus + .input__label--juro::before,
.input--filled .input__label--juro::before {
  border-width: 5px;
  border-color: $idci-light-blue;
  border-top-width: 1.5rem;
  box-sizing: border-box;
}

.input__field--juro:focus + .input__label--juro .input__label-content--juro,
.input--filled .input__label--juro .input__label-content--juro {
  color: #fff;
  -webkit-transform: translate3d(0, -1rem, 0) scale3d(0.75, 0.75, 1);
  transform: translate3d(0, -1rem, 0) scale3d(0.75, 0.75, 1) translateZ(1px);
  padding-top: 1.3rem;
}

textarea.input__field--juro {
  height: 4.5rem;
  margin-top: 2.2rem;
  padding-top: 0;
  resize: none;
  width: calc(100% - 50px);

  & + label {
    height: 8rem;
  }
}

form {
  .button {
    display: block;
    margin: 0 auto;
    width: 8rem;
  }
}

.form_button {
  display: flex;
  margin-top: 1rem;
}

.form-error-alert {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40rem;

  li {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    .alert-box {
      &.secondary {
        display: flex;
        align-content: center;
        justify-content: space-evenly;
        width: 50%;
        height: 30px;
        background-color: $idci-red-opac;
        text-align: center;
        z-index: 30;
        p {
          color: $idci-white;
          margin: auto;
          font-size: 1rem;
          font-family: Oswald, sans-serif;
          letter-spacing: 0.05rem;
          font-weight: bold;
        }

        a {
          font-weight: bold;
          font-size: 1.5rem;
          padding-right: 0.5rem;
          cursor: pointer;
          color: $idci-light-grey;

          &:hover {
            color: $idci-black;
          }
        }
      }
    }
  }
}

.captcha-input-container {
  display: flex;
  margin: auto;
  justify-content: center;

  .juro-captcha {
    width: calc(40rem - 200px);
    height: 68px;
    margin: 0;

    #contact_captcha {
      height: 5rem;
      padding-top: 0;
      resize: none;
      width: calc(100% - 50px);
      height: 100%;
    }
  }
}
