.flash-message-container {
  position:fixed;
  top: 7.1rem;
  left: 34%;
  width: 32%;
  height: 3rem;
  z-index: 99999;

  color: $idci-white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;

  &.success {
    background-color: $idci-green-opac;
  }

  &.error {
    background-color: $idci-red-opac;
  }

  p {
    color: $idci-white;
    text-align: center;
    font-size: 1.5rem;
    margin-left: 1.5rem;
  }

  a {
    color: $idci-white;
    justify-self: flex-end;
    margin-right: 10px;
    text-decoration: none;
    font-size: 2.7rem;
    height: 3rem;

    &:hover {
      color: $idci-black;
    }
  }
}