/**************
 *** Footer ***
 **************/
footer {
  box-sizing: border-box;
  box-shadow: 0 .1em 1em 0 rgba(0,0,0,.4);
  height: 23rem;
  left:0;
  padding-top: 1.2rem;
  position: relative;
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  align-content: center;
  padding: 5rem;

  @extend %full-width;

  section {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 62.5rem;
    line-height: 150%;

    &.sup-footer{
      margin-top:2rem;
      article {
        flex-grow: 1;
        justify-self: center;
        width:33%;

        &.address {
          text-align: left;
          p {
            margin-bottom: .8rem;
      
            &:last-child {
              margin-bottom: 1.5rem;
            }
          }
        }

        &.coords {
          a {
            display: inline-block;
            height: 2rem;
            vertical-align: top;
          }
      
          li {
            text-align: left;
          }

          i {
            font-size: 1.5rem;
            height: 2rem;
            width: 2rem;
            color: $idci-darker-grey;
          }
        }

        &.socials {
          ul {
            height: 100%;
            width: 100%;
            padding-left: 2rem;
            text-align: left;
            li {
              width:20%;
              i {
                font-size: 2.5rem;
              }
            }
          }
        }
      }
    }

    &.sub-footer {
      justify-content: space-between;

      nav {
        width: 50%;
        ul {
          display: flex;
          justify-content: space-around;
        }
      }

      // <a class="btn btn--default"></a>
      // <a class="btn btn--idci"></a>
      %btn {
        margin-bottom: 0;
        border: 1px solid $idci-white;
        border-radius: 100px;
        padding: 10px 20px;
        color: $idci-white;
        font-size: 1.45em;
        margin: 0 15px;
        transition: color .7s;
        transition: background-color .7s;

        &:hover {
          color: $idci-darker-grey;
          background-color: $idci-white;
        }
      }

      .contact-us-link {
        @extend %btn;
      }
    }
  }

  hr {
    width: 63.5rem;
    height: 1px;
    border: 0;
    border-top: 1px solid $idci-darker-grey;
    margin-bottom: 1.5rem;
    margin-top: 0;
  }

  h4 {
    border: none;
    color: $idci-white;
    margin-top: 0;
    margin-bottom: .8rem;
    text-transform: capitalize;
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1.125rem;
  }

  p, li, a {
    color: $idci-darker-grey;
    font-weight: bold;
  }

  .footer-menu {
    flex: auto;
  }

  .socials {
    height: 100%;
    padding-left: 2rem;
    text-align: center;
    width: 100%;

    li {
      display: inline-block;
      text-align: center;

      a {
        background: 0 0;
        display: block;
        width: 100%;

        i {
          display: block;
          margin: 0;
          font-size: 3rem;
          transition: color .3s;

          &:hover {
            color: $idci-light-blue;
          }
        }
      }
    }
  }

  .mentions, .maps {
    font-size: .9rem;
    text-transform: uppercase;
  }

  a {
    text-decoration: none;
  }
}