.contact-form {
  padding-bottom: 3rem;
  padding-top: 3rem;

  & .captcha-refresh-btn {
      display: inline-block;
      width: auto;
  }
}

@media (max-width: 40em) {
  form {

    > #contact {

      button {
        width: 100%;
      }
    }
  }
}
