body {
  font-family: Molengo, sans-serif;
  font-size: 16px;
  height: 100%;
  scroll-behavior: smooth;
}

main {
  padding-top: 5rem;
  @extend %full-width;

  @media (max-width: 64em) {
    // Small and medium screen
    padding-top: 4rem;
  }
}

.wrapper {
  min-height: 100%;
  position: relative;
}

.idci-blue {
  background: $idci-blue;
  color: $idci-white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $idci-blue;
  font-family: Oswald, sans-serif;
}

h1 {
  height: 100%;
  text-transform: capitalize;

  &.title {
    margin: 0;
    padding-top: 2rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 3rem;
  }
}

h2,
h3 {
  font-weight: bold;
  text-transform: uppercase;
}

h3 {
  font-weight: normal;
}

p {
  color: $idci-blue;
}

.button {
  background: $idci-light-blue;
  text-transform: uppercase;

  &:hover {
    background: $idci-blue;
  }
}

i {
  color: $idci-white;
  display: inline-block;
}

ul {
  list-style: none;
  margin: 0;
}

section {
  text-align: center;

  img,
  #editor {
    height: 15rem;
  }

  .tools-icon {
    height: 4rem;
    margin-top: 2rem;
  }

  em,
  h3 {
    color: $idci-light-blue;
    font-style: normal;
  }
}

section.contact {
  background-color: $idci-light-grey;
}

.idci-inline-list {
  display: inline-block;
  margin: 0;
}

a {
  outline: none;
}

.idci-button {
  text-align: center;
  border-radius: 100px;
  border-color: $idci-light-blue;
  border: 2px solid;
  padding: 10px 30px;
  color: $idci-light-blue;
  font-size: 1.3em;
  background-color: $idci-white;
  transition: 0.5s;
  margin: 0 auto 1rem auto;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: $idci-white;
    transition: 0.5s;
    background-color: $idci-light-blue-opac;
    border-color: $idci-light-blue-opac;
  }
}
