.index-part {
  text-align: center;
  align-items: center;
  background-size: cover;
  //min-height: calc(100vh - 5rem);
  line-height: 4rem;
  padding-top: 5rem;

  @extend %full-width;

  .header-index-part {
    em {
      color: $idci-light-blue;
      font-style: normal;
      font-size: 2rem;
      font-weight: 700;
      letter-spacing: .4375rem;
      margin: 0 0 2rem;
      text-transform: uppercase;
      font-family: Oswald,sans-serif;
    }

    h2 {
      letter-spacing: .4rem;
      font-weight: 400;
      color: $idci-blue;
      font-family: Oswald-Bold,sans-serif;
      font-size: 2.3125rem;
    }

    p {
      color: $idci-green;
      font-size: 1.4rem;
      font-weight: 700;
      letter-spacing: .375rem;
      display: inline-block;
      text-transform: uppercase;
      font-family: Oswald,sans-serif;
    }
  }

  img {
    height: 15rem;

    &.tools-icon {
      height: 4rem;
    }

    &.arrow {
      height: 100%;
      margin: 0 .5rem;
      vertical-align: top;
      height: 4rem;
      display: inline-block;
    }  
  }

  article.index-content {
    width: 40%;
    margin: auto;
    padding: 5rem;
    padding-top: 2rem;
    text-rendering: optimizeLegibility;

    img {
      height: 4rem;
      width: 2rem;
    }

    p {
      font-size: 1rem;
      margin-bottom: 1.25rem;
      line-height: 2rem;
    }

    h3.trainings {
      color: $idci-blue;
      display: inline-block;
      font-size: 1.6rem;
      color: $idci-green;
      box-sizing: border-box;
    }
  }
}

.presentation {
  background-image: url("../../images/background_presentation.jpg");
  height: 100vh;
  padding-top: 10rem;

  .scroll-to {
    border: 2px solid $idci-light-blue;
    border-radius: 100%;
    display: inline-block;
    height: 6rem;
    line-height: 6rem;
    margin: 5rem auto 0 auto;
    position: relative;
    width: 6rem;

    span {
      background: url('../../images/slick_arrow.svg') no-repeat;
      background-position: 50%;
      display: inline-block;
      height: 3rem;
      left: 25%;
      position: absolute;
      top: 25%;
      width: 3rem;
    }

    &:hover {
      border-color: $idci-blue;

      span {
        background: url('../../images/slick_arrow_dark_blue.svg') no-repeat;
        background-position: 50%;
      }
    }
  }
}

.advices {
  background-color: $idci-light-grey;
}

.training {
  background-color: $idci-white;
}

.development {
  background-color: $idci-dark-grey;
}

.philosophy {
  background-color: $idci-white;
}

.approach {
  background-color: $idci-light-grey;
}

.tools {
  background-color: $idci-white;
  margin-bottom: 5rem;

  div.tools-content {
    display: flex;
    justify-content: center;

    article {
      flex: auto;
      max-width: 15%;

      em {
        font-size: 1.2rem;
        color: $idci-light-blue;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: .4375rem;
        margin: 0 0 2rem;
        font-style: normal;
        font-family: Oswald,sans-serif;
      }
    }
  }
}

#editor {
  width: 50%;
  margin: auto;
  margin-top: 2rem;
}
