.you-are {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;

  div {
    box-shadow: 10px 10px 20px -5px $idci-darker-grey;

    background-color: $idci-light-grey;
    border-radius: 100px;
    padding: 2rem 2rem 2rem 4rem;
    width: 40%;

    h2 {
      font-size: 1.5rem;
      text-align: left;
      color: $idci-green;
    }

    i {
      color: $idci-darker-grey;
      font-size: 1.5rem;
      margin-right: 1rem;
    }

    ul {
      padding-top: 2rem;
      padding-left: 3rem;
      text-align: left;
      font-size: 1rem;
      list-style: disc;

      li {
        padding-top: 0.5rem;
        color: $idci-light-blue;

        strong {
          font-weight: bold;
        }
      }
    }
  }
}

.offers {
  width: 100%;
  margin: auto;
  padding-bottom: 1rem;
  margin-top: 3rem;
  background-color: $idci-light-grey;
  header {
    padding-top: 2rem;
    padding-bottom: 2rem;
    h1 {
      img {
        width: 3rem;
        height: 3rem;
        transform: rotate(180deg);
        padding-left: 1.2rem;
      }
      font-size: 3rem;
    }
  }

  p {
    text-align: justify;
    padding-bottom: 1rem;
    width: 80%;
    margin: auto;
    line-height: 1.3;

    &.center {
      padding-top: 1rem;
      padding-bottom: 1rem;
      font-size: 1.2rem;
    }
  }
  strong {
    font-weight: bold;
  }

  ul {
    width: 70%;
    margin: auto;
    padding: 1rem 0 2rem 3rem;
    text-align: left;
    list-style: disc;
    color: $idci-darker-grey;

    li:not(:first-child) {
      padding-top: 0.7rem;
    }
  }

  .advantages {
    display: flex;
    padding-top: 2rem;
    width: 80%;
    margin: auto;

    h2 {
      font-size: 1.3rem;
      font-weight: bold;
      text-align: left;
      padding-bottom: 1rem;
    }

    ul {
      margin: 0;
      line-height: 1.3;
      font-size: 1.1rem;

      li:not(:first-child) {
        padding-top: 0.7rem;
      }
    }
    div {
      width: 50%;
    }
    .client {
      h2 {
        color: $idci-light-blue;
      }
      ul {
        color: $idci-green;
      }
    }

    .IDCI {
      padding-left: 5rem;
      h2 {
        color: $idci-green;
      }
      ul {
        color: $idci-light-blue;
      }
    }
  }
}
