header.title {
  padding-top: 7rem;
  text-align: center;

  h1 {
    letter-spacing: 0.4rem;
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 3rem;
    text-transform: uppercase;
  }
}

.team {
  display: flex;
  width: 80%;
  padding-top: 2rem;
  text-align: center;
  justify-content: center;
  flex-flow: row wrap;
  margin: auto;
  box-sizing: border-box;
  margin-bottom: 2rem;

  article {
    width: 260px;
    margin-left: 3rem;
    margin-right: 3rem;
    padding-top: 3rem;

    .name {
      color: $idci-light-blue;
      font-size: 1.7rem;
      letter-spacing: 0;
      font-weight: 400;
    }

    .job-position {
      color: $idci-green;
      display: block;
      font-size: 1.5rem;
      margin: 1rem 0;
      text-transform: uppercase;
    }

    .member-description {
      display: inline-block;
      min-height: 17rem;
      padding: 1rem 0;
      text-align: justify;
    }

    .see-cv {
      font-family: Oswald, sans-serif;
    }

    img {
      width: 260px;
      height: 260px;

      &.profile-picture {
        object-fit: none;
        &.down {
          object-position: 0 0;
        }

        &.downright {
          object-position: -260px 0;
        }

        &.downleft {
          object-position: 0 -364px;
        }

        &.front {
          object-position: 0 -728px;
        }

        &.right {
          object-position: -260px -364px;
        }

        &.left {
          object-position: -520px 0;
        }

        &.up {
          object-position: -260px -728px;
        }

        &.upright {
          object-position: -520px -364px;
        }

        &.upleft {
          object-position: -520px -728px;
        }
      }
    }
  }
}
