/**********************
 ** Global variables **
 **********************/
$idci-white: #FFF;
$idci-blue: #394A59;
$idci-light-blue: #0DB0D1;
$idci-dark-grey: #DEDDD8;
$idci-light-grey: #f7f7f7;
$idci-green: #1E9847;
$idci-dark-green: #007A01;
$idci-black: #000;

/****************
 ** Logo color **
 ****************/
$moniteur-color: #C51617;
$bodysculpt-color: #DA0B13;

$font-url: '/fonts';
$social-sprite-url: url(/images/sprite_rs.png);


/*******************
 ** Global Mixins **
 *******************/

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin transition($property, $duration, $mode:ease) {
  -webkit-transition: $property $duration $mode;
  -moz-transition: $property $duration $mode;
  -o-transition: $property $duration $mode;
  transition: $property $duration $mode;
}

@mixin box-shadow($property) {
  -webkit-box-shadow: $property;
  -moz-box-shadow: $property;
  -o-box-shadow: $property;
  box-shadow: $property;
}

@mixin font-face($font-family, $font-url, $font-name) {
  @font-face {
    font-family: $font-family;
    font-style: normal;
    font-weight: normal;
    src:  url($font-url + '/' + $font-name + '.ttf')  format('truetype');
    /*url($font-url + '/' + $font-name + '.eot') format('eot'),
    url($font-url + '/' + $font-name + '.woff') format('woff'),
    url($font-url + '/' + $font-name + '.svg#' + $font-name) format('svg');*/
  }
}

@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin social-background-position($social-name) {

  background-size: 100px;
  margin: 0.5em auto 0 auto;

  @if($social-name == 'twitter') {
    background-position: 0 0;
    height: 35px;
    width: 35px;
  } @else if($social-name == 'rss') {
    background-position: -32px 0;
    height: 35px;
    width: 35px;
  } @else {
    background-position: -66px 0;
    height: 35px;
    width: 35px;
  }

  @media #{$small-only} {
    background-size: 150px;
    margin: 0 auto;

    @if ($social-name == 'twitter') {
      background-position: 0 0;
      height: 48px;
      width: 50px;
    } @else if ($social-name == 'rss') {
      background-position: -50px 0;
      height: 48px;
      width: 50px;
    } @else {
      background-position: -100px 0;
      height: 48px;
      width: 50px;
    }
  }
}

/* Placeholder selector */
%vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}