/**********************
 ** Global variables **
 **********************/
$idci-white: #FFF;
$idci-blue: #394A59;
$idci-light-blue: #0DB0D1;
$idci-dark-grey: #DEDDD8;
$idci-light-grey: #f7f7f7;
$idci-green: #1E9847;
$idci-dark-green: #007A01;
$idci-black: #000;

$font-url: '/fonts';


/*******************
 ** Global Mixins **
 *******************/

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin transition($property, $duration, $mode:ease) {
  -webkit-transition: $property $duration $mode;
  -moz-transition: $property $duration $mode;
  -o-transition: $property $duration $mode;
  transition: $property $duration $mode;
}

@mixin font-face($font-family, $font-url, $font-name) {
  @font-face {
    font-family: $font-family;
    font-style: normal;
    font-weight: normal;
    src:  url($font-url + '/' + $font-name + '.ttf')  format('truetype');
    /*url($font-url + '/' + $font-name + '.eot') format('eot'),
    url($font-url + '/' + $font-name + '.woff') format('woff'),
    url($font-url + '/' + $font-name + '.svg#' + $font-name) format('svg');*/
  }
}

/*****************************
 *** Foundation components ***
 *****************************/
@import "../../../../bower_components/foundation/scss/normalize";
@import "../../../../bower_components/foundation/scss/foundation/components/grid";
@import "../../../../bower_components/foundation/scss/foundation/components/accordion";
@import "../../../../bower_components/foundation/scss/foundation/components/alert-boxes";
@import "../../../../bower_components/foundation/scss/foundation/components/block-grid";
@import "../../../../bower_components/foundation/scss/foundation/components/breadcrumbs";
@import "../../../../bower_components/foundation/scss/foundation/components/button-groups";
@import "../../../../bower_components/foundation/scss/foundation/components/buttons";
@import "../../../../bower_components/foundation/scss/foundation/components/clearing";
@import "../../../../bower_components/foundation/scss/foundation/components/dropdown";
@import "../../../../bower_components/foundation/scss/foundation/components/dropdown-buttons";
@import "../../../../bower_components/foundation/scss/foundation/components/visibility";
@import "../../../../bower_components/foundation/scss/foundation/components/flex-video";
@import "../../../../bower_components/foundation/scss/foundation/components/offcanvas";
@import "../../../../bower_components/foundation/scss/foundation/components/inline-lists";
@import "../../../../bower_components/foundation/scss/foundation/components/reveal";

/***********************
 *** Idci components ***
 ***********************/
@import 'partials/inputEffect';
@import 'partials/mouseTracker';
@import 'partials/button';
@import 'partials/socials';
@import 'partials/header';
@import 'partials/footer';
@import 'partials/tools';
@import 'partials/flags';

@include font-face('Molengo', $font-url, 'Molengo');
@include font-face('Oswald', $font-url, 'Oswald-Light');

*{
  margin: 0;
  padding: 0;
}

html{
  height: 100%;
}

body{
  font-family: Molengo, sans-serif;
  font-size: 100%;
  height: 100%;
  margin-top: 7rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Oswald, sans-serif;
}

p{
  font-size: 16px;
}

.certificates{
  font-size: 14px;
}

h2.title {
  color: $idci-blue;
  font-size: 3rem;
  text-transform: uppercase;

  &.title-contact {
    color: $idci-white;
    margin-top: 2rem;
  }
}

.contact, .contact-form{
  background: $idci-blue;
  color: $idci-white;
}

.content{
  font-size: 120%;
  margin: 1rem;
  padding: 3rem 0;
  width: 100%;

  &.contact-form {
    padding: 0;
  }
}

.container {

  section {

    &:first-child {
      padding-top: 0;
    }

    &.experiences, &.tools {
      background: $idci-white;
    }

    &.philosophies {
      background: $idci-blue;
    }

    &.contact {
      background: $idci-dark-grey;

      .row {
        max-width: 100%;
      }
    }
  }

  .button {
    background: $idci-light-blue;
  }
}

.idci-light-blue{
  color: $idci-light-blue;
}

.capitalize{
  text-transform: uppercase;
}

.idci-light-grey {
  color: $idci-light-grey;
}

.fixed{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.box { @include border-radius(10px 3px); }

section.philosophies {
  color: $idci-white;

  article {
    margin-bottom: 4rem;

    header {
      border: 2px solid $idci-white;
      margin-bottom: 2rem;
      padding: 1rem;

      h3 {
        color: $idci-white;
        font-weight: bold;
        height: 1rem;
        line-height: 1rem;
        margin: 0;
        text-indent: .5rem;
      }
    }

    img {
      display: inline-block !important;
      height: 10rem;
      width: 100%;
    }

    p {
      text-align: justify;
    }
  }

  article:last-child {
    margin-bottom: 0;
  }
}

/*******************
 ** Media Queries **
 *******************/
@media #{$large} {

  /****************
   ** Index Page **
   ****************/
  .container {
    section.experiences {
      padding-top: 3rem;

      article {

        div {
          display: inline-block;

          img.hide-for-small-only {
            height: 22rem;
            width: 22rem;
          }
        }

        .experience-content {
          height: 25rem;
          vertical-align: middle;

          h2 {
            display: inline-block;
          }

          p {
            font-size: .8em;
            padding: 7em 3em;
            margin: 0;
          }

          a {
            border: 2px solid $idci-blue;
            float: right;
            font-size: 1rem !important;
            font-weight: bold;
            height: 2.5rem !important;
            line-height: 2.1rem !important;
            margin-top: 2rem !important;
            text-transform: uppercase;
            width: 12rem !important;
          }
        }

        a {
          margin-top: 1rem;
        }
      }
    }
  }
}

@media #{$medium-up} {

  /****************
   ** Index Page **
   ****************/
  .row .row {
    margin: 0 0 2em 0;
  }

  .container {

    section {
      padding: 2rem 0;
    }

    section.experiences {

      article {
        margin-bottom: 5em;

        div {
          display: inline-block;

          img.hide-for-small-only {
            display: inline-block !important;
            height: 20rem;
            width: 20em;
          }
        }

        .experience-content {
          height: 20em;
          vertical-align: middle;

          h2 {
            display: inline-block;
            line-height: 2.4rem;
            margin: 0;
          }
          p {
            font-size: .8em;
            margin: 0;
            padding: 2rem;
          }
          a {
            border: 2px solid $idci-blue;
            float: right;
            font-size: .5rem;
            font-weight: bold;
            height: 2rem;
            line-height: 1.8rem;
            margin: 0 2rem 0 0;
            padding: 0;
            text-transform: uppercase;
            width: 8rem;
          }

          a:hover {
            background: $idci-blue;
          }
        }
      }
    }
  }

  .slogan {
    font-size: 2rem;
    margin-top: 2rem;
  }

  .activity-content {
    display: none;
  }
}

@media #{$medium-only} {

  section.philosophies {

    article {

      header {
        padding: .3rem;

        h3 {
          font-size: 1rem;
        }
      }

      p {
        font-size: .8rem;
      }
    }
  }

  h2.title {
    font-size: 2rem;
  }

  .tools {

    h3 {
      font-size: 1rem;
    }
  }
}

@media #{$small-only}{

  body {
    margin-top: 4rem;
  }

  header {
    background-color: $idci-blue;
  }

  footer {
    background-color: $idci-white;
  }

  .tab-bar {
    background: #394a59;
    border-bottom: solid 1px $idci-white;
  }

  .left-small, .right-small {
    border: none;
  }

  .main-section {
    margin-top: 2.8rem;
  }

  /**************
   *** Footer ***
   **************/
  footer {
    background: $idci-blue;
    color: $idci-white;
    text-transform: capitalize;

    .contact-us {
      padding-left: 7rem;

      .contact-us-link {

        a {
          color: $idci-white;
          font-size: 2rem;

          &:hover {
            color: $idci-light-blue;
          }
        }
      }
    }

    .address {
      font-size: 1rem;
      padding-left: 7rem;

      p {
        line-height: 1rem;

        &:first-child {
          margin-bottom: 2rem;
        }

        a {
          color: $idci-white;

          &.mail {
            text-decoration: underline;
          }
        }
      }
    }

    .footer-socials {
      padding: 0;

      .socials {
        height: 1rem;
        margin: 0;
        width: 100%;

        li {
          height: 3rem;
          width: 33.3%
        }
      }

      li.twitter {
        background-color: rgb(64, 153, 255);

        a {

          span {
            @include social-background-position('twitter');
          }
        }
      }

      li.rss {
        background-color: rgb(255, 148, 66);

        a {

          span {
            @include social-background-position('rss');
          }
        }
      }

      li.github {
        background-color: rgb(0, 0, 0);

        a {

          span {
            @include social-background-position('github');
          }
        }
      }
    }
  }

  /******************
   *** Index Page ***
   ******************/
  .container {

    .experiences,
    .tools,
    .philosophies,
    .contact {
      padding-top: 0;
    }

    .contact {
      background: $idci-blue;
    }

    .experiences {

      .button {
        text-transform: uppercase;
      }
    }
  }

  .accordion-container {
    width: 100%;
    clear: both;
  }

  .accordion-toggle.open {
    background: #999;
  }

  .accordion-toggle {
    position: relative;
    display: block;
    padding: 20px;
    font-size: 1rem;
    font-weight: 300;
    background: hsl(50, 9%, 86%);
    margin: 1px 0;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;

    i.picture {
      color: #fff;
      font-size: 2rem;
      margin-right: 8px;
    }

    div.toggle-icon {
      border-left: 1px solid $idci-white;
      position: absolute;
      height: 100%;
      top: 0;
      right: 20px;
      font-size: 1.5rem;
      margin-left: 1px;

      i {
        position: relative;
        top: 10px;
        font-size: 3rem;
        margin-left: 10px;
      }
    }
  }

  .accordion-link {
    padding: 0 0 0 1px;
  }

  .accordion-link .arrow {

  }

  .accordion-toggle:hover {
    background: #999;
  }

  .accordion-content {
    display: none;
    padding: 10px 0;
    overflow: inherit;

    .title {
      display: none;
    }

    div.row {
      margin: 0 auto;
      width: 100%;
    }

    p {
      margin: 0 auto;
      width: 80%;
    }
  }

  .experiences .button {
    background-color: $idci-green;
    border: 2px solid $idci-dark-green;
    @include border-radius(0);
    font-size: 1rem;
    left: 10%;
    margin-top: 1rem;
    width: 80%;
  }

  .container .button:hover {
    background-color: hsl(140, 67%, 30%);
  }

  .contact {
    background-color: $idci-blue;
    font-size: 0.9rem;
    position: relative;

    .contact-title {
      font-size: 3rem;
      font-weight: bold;

      h3 {
        color: $idci-white;
        font-size: 1.7rem;
        left: -1.3rem;
        position: absolute;
        -ms-transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
        text-transform: uppercase;
        top: 6rem;

        i.fa-map-marker {
          font-size: 2rem;
          left: -8rem;
          position: absolute;
          top: 0;
          -ms-transform: rotate(90deg);
          -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
          vertical-align: middle;
        }
      }
    }

    .person {
      line-height: 1rem;

      p {
        font-size: 1rem;
        margin-top: 1rem;
      }

      a {
        color: $idci-white;
        display: block;
        margin-bottom: 0.8rem;
        text-decoration: none;
        width: 100%;
      }
    }

    .address {
      margin-top: 3rem;

      p {
        font-size: inherit;
        line-height: 0.8rem;

        &:first-child {
          font-size: 1rem;
          margin-top: 1rem;
        }
      }
    }
  }

  /*****************
   *** Team Page ***
   *****************/
  .team {

    header {
      background: $idci-dark-grey;
      padding: 1rem;

      h1 {
        font-size: 2rem;

        i {
          font-size: 3rem;
          margin-right: .8rem;
        }
      }
    }

    .member  {
      margin: 0 auto 3rem auto;
      width: 90%;

      header {
        background: 0 0;
        padding: 0;

        h2 {
          margin-bottom: 0;
        }

        p {
          font-style: italic;

          &.member-description {
            font-size: .8rem;
            text-align: justify;
          }
        }
      }

      .skills {
        list-style-type: none;
        margin: 1rem 0;

        .skill {
          padding-top: .4rem;

          img {
            height: 1rem;
            margin-right: .5rem;
          }
        }
      }

      .see-cv {
        background-color: $idci-green;
        border: 2px solid $idci-dark-green;
        font-size: 1rem;
        width: 100%;

        &:hover {
          background-color: $idci-dark-green;
        }
      }
    }
  }

  h3 {
    margin-bottom: 0;
  }

  .content-wrapper {
    width: 100%;

    div.image-holder {
      margin: 0 !important;
    }
  }

  h1.team, h1.activities {
    background: $idci-dark-grey;
    font-size: 1.5rem;
    height: 3rem;
    line-height: 3rem;
    margin: 0.05rem 0;
    padding-left: 20px;

    i {
      color: $idci-white;
      display: inline-block !important;
    }
  }

  /********************
   *** Contact Page ***
   ********************/
  h2.title.title-contact {
    margin: 0 .3rem .3rem .3rem;
  }

  /***********************
   *** Activities Page ***
   ***********************/
  h1.activities {
    background-color: $idci-dark-grey;
  }

  .activity-content {
    margin: 0 auto;
    text-align: center;

    .logo {
      background-color: $idci-blue;
      display: inline-block;
      height: 8rem;
      margin: .4rem .4rem;
      width: 8rem;

      img {
        height: 100%;
      }
    }
  }
}