@media #{$small-only} {
  #achievements {
    .accordion-content {
      padding-top: 2rem;
    }

    & .slick-arrow {

      &.next.right {
        display: none;
      }
    }
  }

  .project-title {
    font-size: 2rem;
  }

  .flex-list {
    justify-content: space-around;
  }
}

@media screen and (max-width: 900px) {
  .browser-mockup {
    margin-bottom: 30px;
    width: 100%;
  }
}
