@media #{$large-only} {
  .aside-navigation-menu {
    font-size: .8rem;
    right: 1rem;
    top: 20%;
  }

  ul.article-navigation {
    visibility: hidden;
    display: none;
  }
}

@media #{$medium-only} {
  .aside-navigation-menu {
    font-size: .8rem;
    right: 1rem;
    top: 20%;
  }
}
