
@media #{$medium-up} {
  .articles {

    .title {
      height: 15rem;

      p {
        font-size: 1.5rem;
      }
    }
  }
}

@media #{$small-only} {
  .by-categories {

    .article {

      > .row {
        background-position-x: .5rem ! important;
        min-height: 5rem;
      }
    }
  }

  .articles {

    .info {
      text-align: left;

      span {
        margin-right : 1rem;
      }
    }

    .title {

      p {
        font-size: .7rem;
      }
    }

    .read-article {

      a {
        font-size: .7rem;
      }
    }

    .columns > img {
      height: auto;
      margin-top: 1rem;
    }

    a {
      font-size: .8rem;
      padding: .5rem;
    }
  }

  .last-articles {
    .slick-slider .slick-track {
      min-height: 10rem;
    }
  }
}