
@media #{$medium-up} {
  .articles {

    .title {
      height: 15rem;

      p {
        font-size: 1.5rem;
      }

      .summary p {
        font-size: 1.2rem;
      }
    }
  }
}

@media #{$small-only} {
  .by-categories {

    .article {

      > .row {
        background-position-x: 5%;
        min-height: 5rem;
      }
    }
  }

  .blog-article {
      .speaker {
          flex-direction: column;

          & > div {
            width: 100%;
          }
      }
  }

  .articles {

    .info {
      text-align: left;

      span {
        margin-right : 1rem;
      }
    }

    .title {

      p {
        font-size: .7rem;
      }

      .summary p {
        text-transform: none;
        width: 85%;
        text-align: justify;
        font-weight: normal;
        font-size: .9rem;
        line-height: 1rem;
      }
    }

    .read-article {
      top:0;

      a {
        font-size: .7rem;
        margin-right: 6%;
      }
    }

    .columns > img {
      height: auto;
      margin-top: 1rem;
    }

    a {
      font-size: .8rem;
      padding: .5rem;
    }
  }

  .last-articles {
    .slick-list {
      padding-bottom: 10%;
    }
    .slick-slider .slick-track {
      min-height: 10rem;
    }
    span {
      margin-right: 10%;
      font-size: 0.75rem;
    }
  }
}
