@media #{$medium-only} {
    .course-box {
      margin-bottom: 1rem;
      width: 15rem;
    }
}

@media #{$small-only} {
  section.courses {
    padding: 0;
  }

  .course-boxes {
    padding: 0;
  }

  .course-box {
    margin-bottom: 1rem;
    width: 9rem;

    p {
      line-height: 2.5rem;
      margin: 0;
    }
  }
}