@media #{$medium-up} {
  .course-box {

    .scroll-to {

      img {
        width: 100%;
      }
    }
  }

  h2.course-name {
    font-family: 'Oswald-Bold', sans-serif;
  }
}

@media #{$medium-only} {
  .course-box {
    margin-bottom: 1rem;
  }
}

@media #{$small-only} {
  section.courses {
    padding: 0;
  }

  .course-box {

    p {
      line-height: 2.5rem;
      margin: 0;
    }
  }
}