@media #{$medium-up} {

  footer {
    padding: 5rem;
    position: fixed;

    p {
      font-size: 1rem;
      line-height: 1rem;

      i {
        color: $idci-black;
      }

    }

    .contact-us {
      text-align: center;

      p:last-child {
        line-height: 5rem;
      }
    }

    .address {

      p {
        line-height: 1rem;
      }

      a {
        color: $idci-black;

        &:hover {
          color: $idci-black;
        }

        &.mail {
          text-decoration: underline;
        }
      }
    }

    .footer-socials {

      .socials {

        li {
          background-color: $idci-light-blue;
          margin: 0 .5rem;
          padding: .5rem;
          @include transition(all, .4s);

          &:hover {
            background-color: $idci-blue;
          }
        }
      }
    }
  }
}

@media #{$small-only} {
  footer {
    background: $idci-blue;
    color: $idci-white;
    display: block;
    text-transform: capitalize;
    z-index: 888;

    .contact-us {
      padding-left: 7rem;

      .contact-us-link {

        a {
          background: $idci-light-blue;
          border: none;
          text-transform: uppercase;
          width: 90%;
        }
      }
    }

    .address {
      font-size: 1rem;
      padding-left: 7rem;

      h3 {
        font-size: 2rem;
      }

      p {
        color: $idci-white;
        line-height: 1rem;

        &:first-child {
          margin-bottom: 2rem;
        }

        a {
          color: $idci-white;

          &.mail {
            text-decoration: underline;
          }
        }
      }
    }

    .footer-socials {
      padding: 0;

      .socials {
        height: 1rem;
        margin: 0;
        width: 100%;

        li {
          background-color: $idci-light-blue;
          border-left: .1rem solid $idci-blue;
          border-right: .1rem solid $idci-blue;
          height: 3rem;
          width: 50%;

          &:first-child {
            border-left: none;
          }

          &:last-child {
            border-right: none;
          }
        }
      }

      li.twitter {

        a {

          span {
            @include social-background-position('twitter');
          }
        }
      }

      li.rss {

        a {

          span {
            @include social-background-position('rss');
          }
        }
      }

      li.github {

        a {

          span {
            @include social-background-position('github');
          }
        }
      }
    }
  }
}