@media #{$medium-up} {

  footer {
    padding: 5rem;

    p {
      color: $idci-darker-grey;
      font-size: 1rem;
      line-height: 1rem;

      i {
        color: $idci-black;
      }

    }

    .phonenumber, .mail {
      color: $idci-darker-grey;
    }

    .footer-part {
      text-align: left;
    }

    .address {

      p {
        line-height: 1rem;
      }

      a {
        color: $idci-black;

        &:hover {
          color: $idci-black;
        }

        &.mail {
          text-decoration: underline;
        }
      }
    }

    .footer-socials {

      .socials {

        li {
          padding: 0;
          width: 20%;
          @include transition(all, .4s);

          &:last-child {
            float: left;
            margin: 0;
          }
        }
      }
    }
  }
}

@media #{$small-only} {
  footer {
    background: $idci-blue;
    color: $idci-white;
    display: block;
    height: 28rem;
    text-align: center;

    p, li, a {
      color: $idci-white;
      font-weight: bold;
    }

    .coords {
      text-align: center;

      p {
        width: 100%;
      }

      span {

        &.phone {
          background-image: url("/images/phone_white.svg");
        }

        &.mail {
          background-image: url("/images/mail_white.svg");
        }
      }
    }

    .contact-us {

      .contact-us-link {
        text-align: center;

        a {
          background: $idci-light-blue;
          border: none;
          text-transform: uppercase;
          width: 100%;
        }

        span {
          margin-top: 1rem;
        }
      }
    }

    .address {
      font-size: 1rem;

      h4 {
        color: $idci-white;
        font-size: 2rem;
        margin: 0 0 2rem 0;
      }

      p {
        color: $idci-white;
        line-height: 1rem;

        &:first-child {
          margin-bottom: 2rem;
        }
      }
    }

    a {
      color: $idci-white;

      &.mail {
        text-decoration: underline;
      }
    }

    .footer-socials {
      padding: 0;

      .socials {
        height: 3rem;
        margin: 1rem 0;
        padding: 0;
        width: 100%;

        li {
          float: none;
          height: 100%;
          width: 20%;

          &:last-child {
            float: none;
          }
        }
      }

      li.twitter {

        a {

          span {
            @include social-background-position('twitter');
          }
        }
      }

      li.rss {

        a {

          span {
            @include social-background-position('rss');
          }
        }
      }

      li.github {

        a {

          span {
            @include social-background-position('github');
          }
        }
      }
    }

    .sub-footer {

      > ul {
        text-align: center;
      }

      &.contact-us {
        display: block;
        height: 36px;
        margin-bottom: 0;
      }
    }
  }
}