@import 'hamburger';

@media #{$xlarge-only} {
  .logo {
    width: 15rem;

    a {

      img {
        left: 50%;
        margin-left: -80px;
        margin-top: -25px;
        top: 50%;
        width: 10rem;
      }
    }
  }

  .nav-menu {

    a {
      font-size: 0.875rem;
      letter-spacing: 0.0625rem;
    }
  }
}

@media #{$large-only} {
  .logo {
    width: 15rem;

    a {

      img {
        left: 50%;
        margin-left: -80px;
        margin-top: -25px;
        top: 50%;
        width: 10rem;
      }
    }
  }

  .nav-menu {
    li {
      margin-left: .9rem;
    }

    a {
      font-size: .7rem;
      letter-spacing: 0.0625rem;
    }
  }


  .langs {

    ul {
      margin: 0;

      li {
        margin-left: 0;
      }
    }
  }
}

@media #{$medium-only} {
  .logo {
    height: 100%;
    margin: 0;
    width: 8rem;
  }

  .nav-menu {
    li {
      margin-left: .9rem;

      a {
        font-size: .6rem;
      }
    }
  }
}

@media #{$small-only} {
  .header-container {
    height: 4rem;
    margin-top: 2rem;
  }

  .logo {
    background: transparent;
    height: 4rem;
    width: 8rem;
  }

  .langs {
    background: $black;
    height: 2rem;
    position: absolute;
    top: -2rem;

    .idci-inline-list {
      float: right;
      height: 100%;
      line-height: 2rem;

      li {
        height: 100%;

        a {
          height: 100%;
        }
      }
    }
  }

  .nav-menu {
    background: rgba(0, 0, 0, 0.8);
    border-right: .2rem solid $idci-dark-grey;
    border-top: .2rem solid $idci-white;
    display: none;
    left: 0;
    padding: 0;
    position: absolute;
    top: 3.8rem;
    width: 15rem;
    z-index: 999;

    ul {
      font-size: .9rem;
      line-height: normal;
      max-height: 22rem;
      overflow-y: auto;

      li {
        border-bottom: 1px solid $idci-white;
        display: block;
        float: none;
        height: 3rem;
        margin: 0;
        text-align: center;

        &.active {

          a {
            background-color: $idci-light-blue-opac;
            color: $idci-white;
            border: none;
          }
        }

        a {
          color: $idci-white;
          font-size: .8rem;
          display: block;
          height: 100%;
          line-height: 3rem;

          &:hover {
            background: $idci-light-blue-opac;
            border: none;
          }
        }
      }
    }
  }

  .dropdown-flag {
    height: 4rem;
  }

  .f-dropdown {
    position: fixed!important;
    width: 100%!important;

    &.open {
      left: 0!important;
      top: 3.6rem!important;
    }

    li {
      width: 100%;

      a {
        padding: 1rem;
      }
    }
  }

  .search-icon {
    height: 4rem;
    line-height: 4rem;
    padding: .5rem;
    width: 3rem;

    a {
      border-color: $idci-white;
      color: $idci-white;
      height: 2rem;
      margin-top: .5rem;
      line-height: 1.5rem;

      &:hover {
        border-color: $idci-light-blue;
        color: $idci-light-blue;

        i {
          color: $idci-light-blue;
        }
      }

      i {
        color: $idci-white;
        font-size: 1rem;
      }
    }
  }
}