@media #{$large-up} {
  .arrow {
    display: inline!important;
  }

  .training-content {

    .idci-content {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

@media #{$large-only} {

  #presentation {
    padding-top: 6rem;
  }

  .scroll-to {
    height: 6rem;
    line-height: 6rem;
    width: 6rem;

    img {
      height: 3rem;
      width: 3rem;
    }
  }
}

@media #{$medium-up} {
  #presentation, #training, #advice, #web-development, #philosophy, #approach, #tools {

    h2, h3.sub-title {
      font-family: 'Oswald-Bold', sans-serif;
    }
  }
}

@media #{$medium-only} {

  #presentation {
    padding-top: 5rem;
  }

  .scroll-to {
    height: 6rem;
    line-height: 6rem;
    width: 6rem;

    img {
      height: 3rem!important;
      width: 3rem;
    }
  }
}