@media #{$large-up} {
  .arrow {
    display: inline !important;
  }

  section.trainings {

    .idci-content {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

@media #{$large-only} {

  #presentation {
    padding-top: 0;

    h2 {
      height: 20rem;
      padding-top: 4rem;
    }
  }

  .scroll-to {
    height: 6rem;
    line-height: 6rem;
    width: 6rem;

    img {
      height: 3rem;
      width: 3rem;
    }
  }
}

@media #{$medium-up} {
  #presentation, #training, #advice, #web-development, #philosophy, #approach, #tools {

    h2, h3.sub-title {
      font-family: 'Oswald-Bold', sans-serif;
    }
  }
}

@media #{$medium-only} {

  .scroll-to {
    height: 6rem;
    line-height: 6rem;
    width: 6rem;

    img {
      height: 3rem !important;
      width: 3rem;
    }
  }
}

@media #{$small-only} {

  #presentation {

      header {
        background: 0 0;
      }

    h3 {
      margin: 0 0 1.75rem;
    }

    .scroll-to {
      border-color: $idci-blue;
      height: 4rem;
      line-height: 4rem;
      width: 4rem;

      span {
        background: url('/images/slick_arrow_dark_blue.svg') no-repeat;
        background-position: 50%;
        height: 2rem;
        width: 2rem;
      }
    }
  }
}