@media #{$small-only} {
  .partners {

    .accordion-content {
      display: block;
    }
  }

  .partner {
    background-image: url("/images/partners.png");
    display: block;
    margin: 1rem auto;
    text-indent: -9999px;
    width: 140px;
    height: 135px;

    &.mbcreation-logo {
      background-position: 0 0;

    }

    &.mahii-logo {
      background-position: 0 -140px;
    }

    &.profilcreatif-logo {
      background-position: 0 -280px;
    }

    &.arcencielophile-logo {
      background-position: 0 -420px;
    }

    &.ochelys-logo {
      background-position: 0 -557px;
    }

    &.jeromemulsant-logo {
      background-position: 0 -700px;
    }
  }
}