@media #{$small-only} {
  .partners {

    .accordion-content {
      display: block;
    }
  }

  a.partner {
    height: 200px;
    transition: background-color .3s;

    & > div {

      & > div {

        &::before {
          border: none;
        }
      }

      & > span {
        background-image: url("/images/partners.png");
        display: inline-block;
        height: 140px;
        width: 140px;
      }

      .mbcreation {
        background-position: 0 0;
      }

      .mahii {
        background-position: 0 -140px;
      }

      .profilcreatif {
        background-position: 0 -280px;
      }

      .arcencielophile {
        background-position: 0 -420px;
      }

      .ochelys {
        background-position: 0 -557px;
      }

      .jeromemulsant {
        background-position: 0 -700px;
      }
    }
  }
}