@media #{$large-up} {
  section {
    header {
      h2 {
          letter-spacing: 0.4rem;
          font-weight: normal;
      }
    }
  }

  .hide-for-small-only.arrow {
    display: inline !important;
  }
}

@media #{$large-only} {
  .projects-content {
    padding: 5rem 10rem;
  }
}

@media #{$medium-only} {
  body {
    margin-top: 4rem;
  }

  section {

    header {

      h2 {
        letter-spacing: 0.4rem;
        font-weight: normal;
      }
    }
  }

  .accordion-content {
    padding: 1rem;

    ul, p {
      font-size: .8rem;
    }
  }

  .hide-for-small-only.arrow {
    display: inline !important;
  }

  .projects-content {
    padding: 5rem 8rem;
  }
}

@media #{$small-only} {

  em.sub-title {
    font-size: 1rem;
    margin: 1.75rem 0;
  }

  .accordion-image {
    display: inline-block ! important;
    float: left;
    height: 100% ! important;
    margin-right: 1rem;
    margin-top: 2rem;
    vertical-align: middle;
    width: 2rem;

    img {
      height: auto ! important;
    }
  }

  .wrapper {
    min-height: 45%;
  }

  body {
    margin-top: 4rem;
  }

  .iframe-container {
    background-color: $idci-light-grey;
    border-top: none;
    padding: 0 2rem 2rem;
  }

  .accordion-toggle {
    background: $idci-white;
    font-weight: 300;
    height: 5rem;
    position: relative;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;

    &:hover {
      background: $idci-dark-grey;
      cursor: pointer;
    }

    &.open {
      background: $idci-dark-grey;
    }

    h2 {
      font-size: 1.5rem;
      height: 100%;
      margin: 0;

      i.picture {
        color: #fff;
        float: left;
        font-size: 2rem;
        margin-right: 1rem;
      }

      &, i.picture {
        line-height: 5rem;
      }
    }

    .toggle-icon {
      font-size: 1.5rem;
      height: 5rem;
      line-height: 5rem;
      position: absolute;
      right: 0;
      text-align: center;
      top: 0;

      i {
        color: $idci-black;
        font-size: 2rem;

        &:before {
          width: 100%;
        }
      }
    }
  }

  .accordion-content {
    background-color: $idci-white;
    display: none;
    padding: 1rem;
  }

  .projects-content, .comments-content, .training-content {
    display: block;
  }

  .idci-content {
    padding: 1rem;

    p {
      width: 100%;
    }
  }

  #training, #advice, #web-development {
    background: $idci-white;
  }

  .acronym {
    padding-top: 1rem;

    p {
      display: inline-block;
      font-size: 1rem;
      margin: 0;
    }
  }

  .contact, .blog {

    h1.title {
      text-align: center;
    }
  }

  div.sitemap {
    padding-top: 2rem;
  }

}