@media #{$large-up} {
  section {
    header {
      h2 {
        letter-spacing: 1rem;
      }
    }
  }

  .hide-for-small-only.arrow {
    display: inline!important;
  }
}

@media #{$large-only} {
  .projects-content {
    padding:  5rem 10rem;
  }
}

@media #{$medium-only} {
  section {
    header {
      h2 {
        letter-spacing: .5rem;
      }
    }
  }

  .accordion-content {
    padding: 1rem;

    ul, p {
      font-size: .8rem;
    }
  }

  .hide-for-small-only.arrow {
    display: inline!important;
  }

  .projects-content {
    padding:  5rem 8rem;
  }
}

@media #{$small-only} {
  #training, #clients, #partner, #achievements, .team, #course, .contact, .errors {
    margin-top: 4rem;
  }

  .team, .contact {
    header {
      h2 {
        i {
          display: inline-block!important;
          font-size: 2.5rem;
        }
      }
    }
  }

  .accordion-toggle {
    background: $idci-dark-grey;
    border: .05rem solid $idci-white;
    font-weight: 300;
    height: 5rem;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;

    &:hover {
      background: #999;
      cursor: pointer;
    }

    &.open {
      background: #999;
    }

    h2 {
      font-size: 1rem;
      height: 100%;
      margin: 0;

      i.picture {
        color: #fff;
        float: left;
        font-size: 2rem;
        margin-right: 1rem;
      }

      &, i.picture {
        line-height: 5rem;
      }
    }

    .toggle-icon {
      border-left: 1px solid $idci-white;
      font-size: 1.5rem;
      height: 5rem;
      line-height: 5rem;
      position: absolute;
      right: 0;
      text-align: center;
      top: 0;

      i {
        color: $idci-black;
        font-size: 2rem;

        &:before {
          width: 100%;
        }
      }
    }
  }

  .accordion-content {
    background-color: $idci-white;
    display: none;
    padding: 1rem;
  }

  .projects-content, .comments-content, .training-content {
    display: block;
  }

  .idci-content {
    padding: 1rem;

    p {
      width: 100%;
    }
  }

  #training,  #advice, #web-development {
    background: $idci-white;
  }

}