@media #{$medium-only} {
  .member-name, em.job-position {
    font-size: 1rem;
  }

  .member-description {
    line-height: 300px;
    min-height: 300px;
    font-size: .8rem;
  }
}

@media #{$medium-up} {

  article.member {
    min-height: 800px;

    .content-wrapper + p {
      margin-top: 1rem;
      min-height: 160px;
    }
  }
}

@media #{$small-only} {

  .team {

    h1.title {
      margin-bottom: 2rem;
      text-align: center;
    }

    header {

      h2 {
        margin: 0;

        i{
          display: inline!important;
        }
      }
    }
  }

  .member  {

    header {
      background: 0 0;
      padding: 0;

      h2 {
        color: $idci-light-blue;
        font-weight: normal;
        margin-bottom: 0;
      }

    }
  }

  .member-name, em.job-position {
    font-size: 1rem;
    text-align: center;
  }

  .member-description {
    font-size: .8rem;
  }
}