@media #{$medium-only} {
  .tools-list {

    li {
    }
  }

  #tools {

    .sub-title {
      font-size: .8rem;
    }
  }
}

@media #{$small-only} {

  /**************************
   *** Sprite declaration ***
   **************************/
  a.tools-sprite {

    &.php {
      background-position: -11px -5px;
    }

    &.symfony2 {
      background-position: -121px -910px;
    }

    &.node {
      background-position: -11px -563px;
    }

    &.meteor {
      background-position: -11px -631px;
    }

    //STOCKAGE
    &.mysql {
      background-position: -11px -508px;
    }

    &.mongodb {
      background-position: -11px -370px;
    }

    &.postgresql {
      background-position: -11px -740px;
    }

    &.redis {
      background-position: -11px -872px;
    }

    &.kyototycoon {
      background-position: -12px -1134px;
    }

    // INFRASTRUCTURE
    &.varnish {
      background-position: -13px -940px;
    }

    &.proxmox {
      background-position: -13px -834px;
    }

    &.ansible {
      background-position: -121px -108px;
    }

    &.elk {
      background-position: -12px -996px;
    }

    &.docker {
      background-position: -11.5px -1100px;
    }

    &.rabbitmq {
      background-position: -11px -852px;
    }

    // FRONTEND
    &.html5-css3 {
      background-position: -12px -403px;
    }

    &.bootstrap {
      background-position: -11px -182px;
    }

    &.foundation {
      background-position: -12px -312px;
    }

    &.angular {
      background-position: -13px -67px;
    }

    &.sass {
      background-position: -12px -230px;
    }

    &.jquery {
      background-position: -11.5px -478px;
    }

    &.vue-js {
      background-position: -11px -1170px;
    }

    // QUALITY
    &.php-unit {
      background-position: -10.5px -660px;
    }

    &.gitlab {
      background-position: -12px -330px;
    }

    &.redmine {
      background-position: -12.5px -1270px;
    }

    &.wordpress {
      background-position: -13px -970px;
    }
  }
}
