@media #{$medium-only} {
  .tools-list {

    li {
      margin-right: 5rem;
    }

    li:last-child {
      margin-right: 0;
    }
  }
}

@media #{$small-only} {

  /**************************
   *** Sprite declaration ***
   **************************/
  a.tools-sprite {

    &.php {
      background-position: 0 0;
    }

    &.symfony1 {
      background-position: 0px -909px;
    }

    &.symfony2 {
      background-position: 0px -872px;
    }

    &.node {
      background-position: 1px -601px;
    }

    &.meteor {
      background-position: 0 -631px;
    }

    &.mysql {
      background-position: 0 -546px;
    }

    &.mongodb {
      background-position: 0 -392px;
    }

    &.postgresql {
      background-position: 1px -745px;
    }

    &.redis {
      background-position: 0px -818px;
    }

    &.rabbitmq {
      background-position: 0 -746px;
    }

    &.html5-css3 {
      background-position: 0 -424px;
    }

    &.bootstrap {
      background-position: 1px -169px;
    }

    &.foundation {
      background-position: 0 -304px;
    }

    &.jquery {
      background-position: 0 -465px;
    }

    &.elk {
      background-position: 0 -1014px;
    }

    &.varnish {
      background-position: 0 -941px;
    }

    &.docker {
      background-position: 0 -1122px;
    }

    &.proxmox {
      background-position: 1px -782px;
    }

    &.angular {
      background-position: 0 -56px;
    }

    &.gitlab {
      background-position: 0 -343px;
    }

    &.redmine {
      background-position: 0 -853px;
    }

    &.php-unit {
      background-position: 0 -656px;
    }

    &.ansible {
      background-position: 0 -83px;
    }

    &.sass {
      background-position: 0 -224px;
    }

    &.wordpress {
      background-position: 0 -983px;
    }
  }
}