@media #{$medium-only} {
  .tools-list {

    li {
      margin-right: 5rem;
    }

    li:last-child {
      margin-right: 0;
    }
  }
}

@media #{$small-only} {

  /**************************
   *** Sprite declaration ***
   **************************/
  a.tools-sprite {

    &.php {
      background-position: 0 0;
    }

    &.symfony1 {
      background-position: 0px -852px;
    }

    &.symfony2 {
      background-position: 0px -818px;
    }

    &.node {
      background-position: 0 -564px;
    }

    &.meteor {
      background-position: 0 -594px;
    }

    &.mysql {
      background-position: 0 -512px;
    }

    &.mongodb {
      background-position: 0 -369px;
    }

    &.postgresql {
      background-position: 0 -700px;
    }

    &.redis {
      background-position: 0 -767px;
    }

    &.rabbitmq {
      background-position: 0 -746px;
    }

    &.html5-css3 {
      background-position: 0 -399px;
    }

    &.bootstrap {
      background-position: 0 -160px;
    }

    &.foundation {
      background-position: 0 -285px;
    }

    &.jquery {
      background-position: 0 -465px;
    }

    &.elk {
      background-position: -1820px 0;
    }

    &.varnish {
      background-position: 0 -880px;
    }

    &.docker {
      background-position: -2100px -50px;
    }

    &.proxmox {
      background-position: 0 -733px;
    }

    &.angular {
      background-position: 0 -54px;
    }

    &.gitlab {
      background-position: 0 -322px;
    }

    &.redmine {
      background-position: 0 -800px;
    }

    &.php-unit {
      background-position: 0 -616px;
    }

    &.ansible {
      background-position: 0 -79px;
    }

    &.sass {
      background-position: 0 -210px;
    }

    &.wordpress {
      background-position: 0 -922px;
    }
  }
}