$color-base:  #ABCABc;
$width:  100px;


body {
  color: $color-base;
}

// Mixins

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

.box { @include border-radius(10px 3px); }