.content.pdf {
  .baptiste_bouchereau {
    section.cv-part p em {
      margin-top: 10px;
    }
    section.skills li {
      margin-bottom: 0;
    }
  }
}

.baptiste_bouchereau {
  .about_me h3 {
    padding-bottom: 10px;
  }
}