#achievements {
  & .slick-arrow {

    &.next.right {
      top: 20%;
    }
  }
}

.contribution {
  color: $idci-green;
}

.client {
  background-image: url("/images/clients.png");
  display: block;
  margin: 1rem auto;
  text-indent: -9999px;

  &.bodysculpt-logo {
    background-position: -140px -139px;
    width: 139px;
    height: 139px;
  }
  &.inta35-logo {
    background-position: 0 0;
    width: 141px;
    height: 138px;
  }
  &.l-appart-logo {
    background-position: -141px 0;
    width: 140px;
    height: 138px;
  }
  &.lemoniteur-logo {
    background-position: 0 -139px;
    width: 140px;
    height: 139px;
  }
}

.project {
  padding: 1rem 0;
}

.project-title {
  font-size: 3rem;
  margin-bottom: 2rem;
  text-align: left;

  &.moniteur {
    color: $moniteur-color;
  }

  &.bodysculpt {
    color: $bodysculpt-color;
  }
}

.project-description {
  text-align: justify;
}

.project-url {
  font-size: 1.5rem;
}

.projects-content.slick-slider {
  padding-top: 0;
}

.flex-list {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin: 2rem 0;

  & > li {
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.expertise {
  text-transform: capitalize;

  &.development::before {
    background: url("/images/development.svg") no-repeat;
    background-size: cover;
    content: "";
    display: block;
    height: 85px;
    margin-bottom: 10px;
    width: 85px;
  }

  &.consulting::before {
    background: url("/images/consulting.svg") no-repeat;
    background-size: cover;
    content: "";
    display: block;
    height: 85px;
    margin-bottom: 10px;
    width: 85px;
  }

  &.reworking::before {
    background: url("/images/reworking.svg") no-repeat;
    background-size: cover;
    content: "";
    display: block;
    height: 85px;
    margin-bottom: 10px;
    width: 85px;
  }

  &.training::before {
    background: url("/images/training.svg") no-repeat;
    background-size: cover;
    content: "";
    display: block;
    height: 85px;
    margin-bottom: 10px;
    width: 85px;
  }
}