$idci-circle-size: 20px;
$idci-circle-border: 2px;

.aside-navigation-menu {
  font-size: 1.2rem;
  position: fixed;
  right: 3rem;
  text-align: right;
  top: 20%;
  z-index: 999;
}

.aside-navigation-link {
  color: $idci-blue;

  &.active {
    color: $idci-light-blue;

    .idci-circle {

      .fix {
        background: $idci-light-blue;
      }

      .expandable {
        background: 0 0;
        border: $idci-circle-border solid $idci-light-blue;
        height: $idci-circle-size - $idci-circle-border * 2;
        left: 0;
        top: 0;
        width: $idci-circle-size - $idci-circle-border * 2;
      }
    }
  }

  .idci-circle {
    display: inline-block;
    height: $idci-circle-size;
    position: relative;
    vertical-align: middle;
    width: $idci-circle-size;

    .fix {
      background: $idci-blue;
      border-radius: $idci-circle-size / 2;
      box-sizing: content-box;
      display: block;
      height: $idci-circle-size / 2;
      left: $idci-circle-size / 4;
      position: absolute;
      top: $idci-circle-size / 4;
      width: $idci-circle-size / 2;
      z-index: 200;
      @include transition(all, 0.2s);
    }

    .expandable {
      background: $idci-blue;
      border-radius: $idci-circle-size / 2;
      box-sizing: content-box;
      display: block;
      height: $idci-circle-size / 4;
      left: $idci-circle-size / 3;
      position: absolute;
      top: $idci-circle-size / 3;
      width: $idci-circle-size / 4;
      z-index: 100;
      @include transition(all, 0.2s);
    }
  }

  &:hover {
    color: $idci-light-blue;

    .idci-circle {

      .fix {
        background: $idci-light-blue;
      }

      .expandable {
        background: 0 0;
        border: $idci-circle-border solid $idci-light-blue;
        height: $idci-circle-size - $idci-circle-border * 2;
        left: 0;
        top: 0;
        width: $idci-circle-size - $idci-circle-border * 2;
      }
    }
  }
}