$idci-circle-size: 32px;
$idci-circle-border: 3px;

.aside-navigation-menu {
  font-size: 1.2rem;
  position: fixed;
  right: 3rem;
  text-align: right;
  top: 40%;
}

.aside-navigation-link {
  color: $idci-black;

  .idci-circle {
    display: inline-block;
    height: $idci-circle-size;
    position: relative;
    vertical-align: middle;
    width: $idci-circle-size;

    .fix {
      background: $idci-black;
      border: $idci-circle-border $idci-white solid;
      border-radius: $idci-circle-size / 2;
      box-sizing: content-box;
      display: block;
      height: $idci-circle-size / 2;
      left: $idci-circle-size / 4 - $idci-circle-border;
      position: absolute;
      top: $idci-circle-size / 4 - $idci-circle-border;
      transition: all 0.4s ease;
      width: $idci-circle-size / 2;
      z-index: 200;
    }

    .expandable {
      background: $idci-black;
      border-radius: $idci-circle-size / 2;
      box-sizing: content-box;
      display: block;
      height: $idci-circle-size / 4;
      left: $idci-circle-size / 3 + $idci-circle-border / 2;
      position: absolute;
      top: $idci-circle-size / 3 + $idci-circle-border / 2;
      transition: all 0.4s ease;
      width: $idci-circle-size / 4;
      z-index: 100;
    }
  }

  &:hover {
    color: $idci-light-blue;

    .idci-circle {

      .fix, .expandable {
        background: $idci-light-blue;
      }

      .expandable {
        height: $idci-circle-size;
        left: 0;
        top: 0;
        width: $idci-circle-size;
      }
    }
  }
}