.tabs {

  .tab-title {
    display: inline-block;

    a {
      background-color: transparent;
      border-bottom: .2rem solid $idci-light-blue;
      color: $idci-blue;
      font-family: Oswald, sans-serif;
      font-weight: bold;
      letter-spacing: 2px;
      margin: 1rem 1rem 1rem 0;
      text-transform: uppercase;
    }

    &.active a, & > a:hover {
      background-color: $idci-light-blue;
      color: $idci-white;
    }
  }
}

.tabs-content {

  .content {
    opacity:0;
    text-align: left;
    @include transition(all, .6s, ease-out);

    h3, h4 {
      color: $idci-green;
      margin-top: 2rem;
    }

    h4 {
      text-transform: uppercase;

      & + p {

        em {
          color: $idci-green;
          font-size: 1.5rem;
          font-style: italic;
        }
      }
    }

    &.on {
      opacity:1;
    }

  }
}

.course-description {
  font-size: 1.5rem;
  text-align: left;
}

.course-name {
  position: relative;

  .contact-us {
    display: inline-block;
    letter-spacing: normal;
    margin: 0;
    padding: .5rem;
    position: absolute;
    right: 10rem;
    top: 25%;
  }
}