.course-box {
  border: .2rem solid $idci-dark-grey;
  height: 20rem;
  margin: 1rem auto;
  text-align: center;
  width: 25rem;
  @include transition(all, .3s);

  img   {
    border-bottom: .2rem solid $idci-dark-grey;
  }

  p {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
  }
}