#editor {
  display: block;
  margin: 0 auto;
  text-align: left;

  .ace_gutter, .ace_marker-layer .ace_active-line, .ace_text-input, .ace_content {
    z-index: 0;
  }

  .ace_scrollbar {
    display: none;
  }
}
