.errors {
  height: 50vh;
  line-height: 50vh;
  text-align: center;

  & > div {
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
  }

  &::after {
    background-image: url('../images/panic.gif');
    //background-image: url('https://media.giphy.com/media/l3vRcVLfmDQUl1F6w/giphy.gif');
    background-repeat: no-repeat;
    bottom: 0;
    background-size: 100% 50%;
    content: "";
    left: 0;
    opacity: 0.4;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }

  .code {
    strong {
      color: $idci-light-blue;
      display: inline-block;
      font-size: 6rem;
      font-weight: bold;
    }
  }

  .message p {
    font-size: 2rem;
  }
}