.errors {
  height: 50vh;
  line-height: 50vh;
  text-align: center;

  & > div {
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
  }

  .code {
    strong {
      color: $idci-light-blue;
      display: inline-block;
      font-size: 6rem;
      font-weight: bold;
    }
  }

  .message p {
    font-size: 2rem;
  }
}