#flash-message-container {
  position:fixed;
  left:50%;
  margin: 0;
  top:8.6rem;
  transform:translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  width: 50%;
  z-index: 99999;
}

@media #{$small-only} {
  #flash-message-container {
    top: 6rem;
    width: 100%;
  }
}