/**************
 *** Footer ***
 **************/

footer {
  background: $idci-dark-grey;
  bottom: 0;
  left:0;
  padding-top: 1.2rem;
  position:absolute;
  width:100%;

  p {
    text-align: center;
  }

  h3 {
    border: none;
    color: $idci-light-blue;
    margin-bottom: 2rem;
    text-transform: capitalize;
  }

  .footer-part {
    padding: 0!important;
    text-align: center;
  }

  .contact-us {

    p {
      font-size: 1.3rem;

      &:first-child {
        margin-top: .7rem;
      }
    }

    .contact-us-link {
      a {
        font-family: Oswald, sans-serif;
      }
    }
  }

  .socials {
    display: table;
    height: 1rem;
    margin-top: 3rem;
    width: 100%;

    li {
      display: inline-block;
      text-align: center;

      a {
        display: block;
        text-indent: -999rem;
        vertical-align: middle;
        width: 100%;

        span {
          background-image: $social-sprite-url;
          background-repeat: no-repeat;
          display: block;
          height: 100px;
          margin: 0;
          width: 100px;
        }
      }
    }

    li.twitter {
      background-color: rgb(64, 153, 255);

      a {

        span {
          @include social-background-position('twitter');
        }
      }
    }

    li.rss {
      background-color: rgb(255, 148, 66);

      a {

        span {
          @include social-background-position('rss');
        }
      }
    }

    li.github {
      background-color: rgb(0, 0, 0);

      a {

        span {
          @include social-background-position('github');
        }
      }
    }
  }
}
@media #{$medium-up} {

  footer {
    height: 15rem;

    p {
      font-size: 1rem;
      line-height: 1rem;
    }

    .contact-us {
      text-align: center;

      p:last-child {
        line-height: 5rem;
      }

      a {
        color: $idci-light-blue;
        font-size: 2rem;
        padding: .5rem;
        @include transition(all, 0.4s);

        &:hover {
          background-color: $idci-blue;
          color: $idci-white;
        }
      }
    }

    .address {

      p {
        line-height: 1rem;
      }

      a {
        color: $idci-black;

        &:hover {
          color: $idci-black;
        }

        &.mail {
          text-decoration: underline;
        }
      }
    }

    .footer-socials {

      .socials {

        li {
          background-color: #999;
          border-radius: 50%;
          margin-right: 1rem;
          padding: .5rem;
          @include transition(all, .4s);

          &.twitter:hover {
            background-color: rgb(64, 153, 255);
          }

          &.rss:hover {
            background-color: rgb(255, 148, 66);
          }

          &.github:hover {
            background-color: rgb(0, 0, 0);
          }
        }
      }
    }
  }
}

@media #{$small-only} {
  footer {
    background: $idci-blue;
    color: $idci-white;
    height: 21rem;
    text-transform: capitalize;

    .contact-us {
      padding-left: 7rem;

      .contact-us-link {

        a {
          color: $idci-white;
          font-size: 2rem;

          &:hover {
            color: $idci-light-blue;
          }
        }
      }
    }

    .address {
      font-size: 1rem;
      padding-left: 7rem;

      p {
        line-height: 1rem;

        &:first-child {
          margin-bottom: 2rem;
        }

        a {
          color: $idci-white;

          &.mail {
            text-decoration: underline;
          }
        }
      }
    }

    .footer-socials {
      padding: 0;

      .socials {
        height: 1rem;
        margin: 0;
        width: 100%;

        li {
          height: 3rem;
          width: 33.3%
        }
      }

      li.twitter {
        background-color: rgb(64, 153, 255);

        a {

          span {
            @include social-background-position('twitter');
          }
        }
      }

      li.rss {
        background-color: rgb(255, 148, 66);

        a {

          span {
            @include social-background-position('rss');
          }
        }
      }

      li.github {
        background-color: rgb(0, 0, 0);

        a {

          span {
            @include social-background-position('github');
          }
        }
      }
    }
  }
}