/**************
 *** Footer ***
 **************/
footer {
  box-shadow: 0 .1em 1em 0 rgba(0,0,0,.4);
  height: 23rem;
  left:0;
  padding-top: 1.2rem;
  position: relative;
  width:100%;

  hr {
    height: 1px;
    border: 0;
    border-top: 1px solid $idci-darker-grey;
    margin-bottom: 1.5rem;
    margin-top: 0;
  }

  h4 {
    border: none;
    color: $idci-white;
    margin-top: 0;
    margin-bottom: .8rem;
    text-transform: capitalize;
  }

  .address {
     p {
       margin-bottom: .8rem;

       &:last-child {
         margin-bottom: 1.5rem;
       }
     }
  }

  p, li, a {
    color: $idci-darker-grey;
    font-weight: bold;
  }

  .contact-us {

    p {
      font-size: 1rem;
      text-transform: uppercase;

      span {
        display: inline-block;
        width: 50%;
      }
    }

    .tiny {
      background-color: $idci-darker-grey;
      font-size: .8rem;
      margin: 0;

      &:hover {
        background-color: $idci-light-blue;
      }
    }
  }

  .contact-us-link {
    margin-bottom: 0;
  }

  .coords {

    p {
      position: relative;
      margin-bottom: 0;
    }

    a {
      display: inline-block;
      height: 2rem;
      vertical-align: middle;
    }

    span {

      &.phone, &.mail {
        display: inline-block;
        height: 2rem;
        margin-right: 1rem;
        width: 2rem;
      }

      &.phone {
        background-image: url("/images/phone.svg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
      }

      &.mail {
        background-image: url("/images/mail.svg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
      }
    }
  }

  .socials {
    height: 100%;
    padding-left: 2rem;
    text-align: center;
    width: 100%;

    li {
      display: inline-block;
      text-align: center;

      a {
        background: 0 0;
        display: block;
        text-indent: -999rem;
        vertical-align: middle;
        width: 100%;

        span {
          background-image: $social-sprite-url;
          background-repeat: no-repeat;
          display: block;
          margin: 0;
        }
      }
    }

    li.twitter {
      a {
        span {
          @include social-background-position('twitter');
        }
      }
    }

    li.rss {
      a {

        span {
          @include social-background-position('rss');
        }
      }
    }

    li.github {
      a {

        span {
          @include social-background-position('github');
        }
      }
    }
  }

  .sub-footer {
    text-align: left;
  }

  .mentions, .maps {
    font-size: .9rem;
    text-transform: uppercase;
  }
}
