/**************
 *** Footer ***
 **************/

.close-footer {
    color: $idci-blue;
    font-size: 2rem;

    &:hover {
      color: $idci-light-blue;
    }
}

.idci-mini-footer {
  background: none;
  border: .2rem solid $idci-blue;
  bottom: 2rem;
  cursor: pointer;
  height: 3rem;
  line-height: 3.5rem;
  position: fixed;
  right: 2rem;
  text-align: center;
  width: 6rem;
  z-index: 9999999;

  a {
    color: $idci-blue;
    font-size: 2rem;
  }

  &:hover {
    border-color: $idci-light-blue;

    a {
      color: $idci-light-blue;
    }
  }
}

.close-footer {
  position: absolute;
  right: 5rem;
  top: 0;

  &:hover {
    color: $idci-light-blue;
  }
}

footer {
  background: $idci-dark-grey;
  bottom: 0;
  display: none;
  height: 23rem;
  left:0;
  padding-top: 1.2rem;
  position: absolute;
  width:100%;

  p {
    text-align: center;
  }

  h3 {
    border: none;
    color: $idci-light-blue;
    margin-bottom: 2rem;
    text-transform: capitalize;
  }

  .footer-part {
    padding: 0!important;
    text-align: center;
    text-transform: initial;
  }

  .contact-us {

    p {
      font-size: 1.3rem;

      &:first-child {
        margin-top: .7rem;
      }
    }
  }

  .socials {
    display: table;
    height: 1rem;
    text-align: center;
    width: 100%;

    li {
      display: inline-block;
      text-align: center;

      a {
        display: block;
        text-indent: -999rem;
        vertical-align: middle;
        width: 100%;

        span {
          background-image: $social-sprite-url;
          background-repeat: no-repeat;
          display: block;
          height: 100px;
          margin: 0;
          width: 100px;
        }
      }
    }

    li.twitter {
      background-color: rgb(64, 153, 255);

      a {

        span {
          @include social-background-position('twitter');
        }
      }
    }

    li.rss {
      background-color: rgb(255, 148, 66);

      a {

        span {
          @include social-background-position('rss');
        }
      }
    }

    li.github {
      background-color: rgb(0, 0, 0);

      a {

        span {
          @include social-background-position('github');
        }
      }
    }
  }
}
