body, html {
  height: auto;
  min-height: 100%;
}

body {
  font-family: Molengo, sans-serif;
  height: 100%;
}

.wrapper {
  min-height: 100%;
  padding-bottom: 23rem;
  position: relative;
}

.idci-blue {
  background: $idci-blue;
  color: $idci-white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Oswald, sans-serif;
}


h1 {
  height: 100%;
  text-transform: capitalize;
}

h2, h3 {
  color: $idci-blue;
  font-weight: bold;
  text-transform: uppercase;
}

h3 {
  font-weight: normal;
}

.button {
  background: $idci-light-blue;
  border: .1rem solid $idci-blue;
  text-transform: uppercase;

  &:hover {
    background: $idci-blue;
  }
}

i {
  color: $idci-white;
  display: inline-block !important;
}

ul {
  list-style: none;
  margin: 0;
}

section {
  min-height: 100vh;
  padding: 6rem 0 0 0;
  text-align: center;

  em, h3 {
    color: $idci-light-blue;
    font-style: normal;
  }

}

.full-width {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}

.idci-inline-list {
  @include inline-list;
  margin: 0;
}

@media #{$small-only} {

  section {
    min-height: 3rem;
    padding: 0;
    text-align: justify;
  }

  .idci-content {
    padding: 0;

    p {
      width: 100%!important;
    }
  }

  section, article {

    header {
      background: $idci-dark-grey;
    }
  }

  article {

    header {
      padding: 1rem;

      h1 {
        font-size: 2rem;

        i.show-for-small {
          display: inline !important;
          font-size: 2.5rem;
          margin-right: .8rem;
        }
      }
    }
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    border: none;
    font-size: 1rem;
  }

  .button {
    background-color: $idci-green;
    border: 2px solid $idci-dark-green;
    @include border-radius(0);
    font-size: 1rem;
    margin-top: 1rem;
    width: 100%;

    &:hover {
      background-color: $idci-dark-green;
    }
  }
}