.header-container {
  background: $idci-white;
  font-size: 0;
  height: 5rem;
  left: 0;
  padding: 0 2rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;

  header {
    height: 100%;

    h1 {
      display: inline-block;
      margin: 0;
      vertical-align: top;
      width: 14.3rem;

      a {
        display: inline-block;
        height: inherit;
        width: inherit;

        span {
          background-image: url("/images/idci_logo.png");
          background-position: 0 0;
          background-repeat: no-repeat;
          background-size: 13rem;
          display: inline-block;
          height: 3.7rem;
          text-align: center;
          text-indent: -9999px;
          width: 100%;
        }
      }
    }

    button.dropdown-flag {
      background: 0 0;
      margin: 0;
      padding: 0;
      height: 100%;
    }

    .f-dropdown {
      width: 100%!important;
      &.open {
        left: 0!important;
        top: 3.8rem!important;
      }
      &, &.drop-left, &.drop-right, &.drop-top {
        &:before, &:after {
          content: none;
        }
      }
    }

    .dropdown.button::after, button.dropdown::after {
      right: .5rem;
    }
  }
}

.langs {
  display: block;
  float: right;
  height: 100%;
  margin-right: 3rem;

  ul, p {
    display: block;
    float: left;
    line-height: 5rem;
  }
  p {
    color: $idci-light-blue;
    font-style: italic;
    margin: 0;
    margin-right: 2rem;
    vertical-align: top;
  }

  ul {
    margin: 0;
    
    li {
      float: left;
      margin-right: .5rem;
    }
  }
}

.search-icon {
  background: 0 0;
  display: none;
  float: right;
  height: 5rem;
  padding: 1rem;
  width: 5rem;

  a {
    border: 2px solid $idci-black;
    color: $idci-black;
    display: block;
    height: 100%;
    line-height: 3.5rem;
    text-align: center;

    &:hover {
      border-color: $idci-light-blue;
      color: $idci-light-blue;

      i {
        color: $idci-light-blue;
      }
    }

    i {
      color: $idci-black;
      font-size: 1.5rem;
    }
  }
}

@media #{$medium-up} {
  .header-container {
    border-bottom: 2px $idci-dark-grey solid;
  }
}

@media #{$medium-only} {
  .header-container {
    height: 5rem;
    padding: 0;

    header {

      h1.logo {
        height: 100%;
        margin: 0;

        a {
          padding-top: .5rem;
          width: 100%;

          span {
            background-position: 0 0;
            background-repeat: no-repeat;
            background-size: 6rem;
            height: 1.7rem;
            line-height: 1.3rem;
            text-indent: -9999px;
            width: 100%;
          }
        }
      }

      nav {

        ul {
          font-size: .9rem;
          line-height: 4rem !important;

          li {
            display: inline-block;
          }
        }
      }

      .langs {
        line-height: 1rem;

        li {
          margin-top: 1.8rem;
        }
      }

      .search-icon {
        padding: .5rem 1rem 0 0;
        i {
          font-size: 2rem;
          line-height: 3.6rem;
        }
      }
    }
  }
}

@media #{$small-only} {

  .header-container {
    height: 4rem;

    header {
      background-color: $idci-blue;
      border-bottom: 1px solid $idci-white;
      height: 4rem;
      position: fixed;
      top: 0;
      z-index: 2;

      .menu-icon {
        float: left !important;
        text-align: center;
        width: 3rem;

        i {
          color: $idci-white;
          font-size: 2rem;
          line-height: 4rem;
          width: 100%;

          &:hover {
            color: $idci-light-blue;
          }
        }
      }

      h1 {
        background: transparent;

        a {
          padding-top: .1rem;
          width: 100%;

          span {
            background-image: url(/images/idci_logo.png);
            background-position: 0 0;
            background-repeat: no-repeat;
            background-size: 6rem;
            display: inline-block;
            height: 1.7rem;
            line-height: 1.5rem;
            text-align: center;
            text-indent: -9999px;
            width: 100%;
          }
        }
      }

      nav.nav-menu {
        background: $idci-blue;
        border-right: 1px solid $idci-white;
        border-top: 1px solid $idci-blue;
        display: none;
        left: 0;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 3.9rem;
        width: 15rem;
        z-index: 2;

        ul {
          font-size: .9rem;
          line-height: normal;
          list-style: none;
          margin: 0;
          max-height: 22rem;
          overflow-y: auto;
          width: inherit;

          li {
            border-bottom: 1px solid $idci-white;
            display: block;
            margin: 0;
            padding: 0;
            text-align: center;

            a {
              color: $idci-white;
              display: block;
              padding: .8rem;

              &:hover {
                background: $idci-light-blue;
                border: none;
                color: $idci-white;
              }
            }
          }
        }
      }

      .langs {
        height: 100%;
        line-height: 1.5rem !important;
        text-align: center;

        li {
          margin-top: .9rem;
        }
      }

      .search-icon {
        float: right;
        padding: .1rem 0;
        text-align: center;
        width: 3rem;

        i {
          color: $idci-white;
          font-size: 2rem;
          line-height: 3.5rem;

          &:hover {
            color: $idci-light-blue;
          }
        }
      }
    }
  }
}

