.arrow {
  img {
    height: 100%;
    margin: 0 1rem;
    vertical-align: top;
    width: 2rem;
  }
}

h3.trainings {
  color: $idci-blue!important;
  display: inline-block;
  margin: 0;
}

.courses {
  margin: 0 auto;
  width: 50%;
}

.scroll-to {
  border: 2px solid $idci-light-blue;
  border-radius: 100%;
  display: inline-block;
  height: 8rem;
  line-height: 8rem;
  margin: 5rem auto 0 auto;
  width: 8rem;

  &:hover {
    border-color: $idci-blue;
  }

  img {
    height: 5rem;
    width: 5rem;
  }
}

.acronym {
  p {
    color: $idci-green;
    display: inline;
    font-family: Oswald, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: capitalize;

    span {
      display: inline-block;

      &::first-letter {
        font-size: 2rem;
      }
    }
  }
}