.arrow {
  img {
    height: 100%;
    vertical-align: top;
    width: 2rem;
  }
}

.trainings {
  color: $idci-blue!important;
  display: inline-block;
  margin: 0 2rem;
}

.courses {
  margin: 0 auto;
  padding-top: 2rem;

  li {
    display: inline;
    float: none;
    margin: 0;

    &:after {
      content: "-";
      margin: 0 1rem;
    }

    &:last-child {

      &:after {
        content: none;
      }
    }
  }
}