.legal-notice {

  h1 {
    margin-bottom: 3rem;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: normal;
    margin-bottom: 1rem;
  }

  ul {
    margin-bottom: 1.25rem;
  }

  li {
    color: $idci-blue;
    text-align: left;
  }

  p {
    text-align: justify;
  }
}

