.content-wrapper{
  width: 100%;}

  .image-holder{
    position: relative;
    margin: 0 auto;
    width: 260px;
    height: 260px;

    .icon-home,.circle{
      position: absolute;
      top: 0;
      left: 0;
      width: 260px;
      height: 260px;
    }

    .circle{
      z-index: 2;
    }
  }

  .brahim .profile-picture {
    background-image: url(/images/brahim/sprite.png);

      &.downleft {
        background-position: 0 0;
        width: 260px;
        height: 260px;
      }
      &.upleft {
        background-position: -260px 0;
        width: 260px;
        height: 260px;
      }
      &.down {
        background-position: -260px -260px;
        width: 260px;
        height: 259px;
      }
      &.up {
        background-position: -259px -520px;
        width: 260px;
        height: 258px;
      }
      &.left {
        background-position: -520px 0;
        width: 259px;
        height: 260px;
      }
      &.front {
        background-position: 0px -520px;
        width: 259px;
        height: 259px;
      }
      &.upright {
        background-position: -520px -260px;
        width: 259px;
        height: 260px;
      }
      &.right {
        background-position: -519px -520px;
        width: 258px;
        height: 258px;
      }
      &.downright {
        background-position: 0px -260px;
        width: 260px;
        height: 260px;
      }
  }

  .gabriel .profile-picture {
    background-image: url(/images/gabriel/sprite.jpg);

    &.upleft {
      background-position: 0 0;
      width: 260px;
      height: 260px;
    }

    &.up {
      background-position: -260px 0;
      width: 260px;
      height: 260px;
    }

    &.left {
      background-position: 0px -260px;
      width: 260px;
      height: 260px;
    }

    &.front {
      background-position: -260px -260px;
      width: 260px;
      height: 260px;
    }

    &.upright {
      background-position: -520px 0;
      width: 260px;
      height: 260px;
    }

    &.right {
      background-position: -520px -260px;
      width: 260px;
      height: 260px;
    }

    &.downleft {
      background-position: 0px -520px;
      width: 260px;
      height: 260px;
    }

    &.down {
      background-position: -260px -520px;
      width: 260px;
      height: 260px;
    }

    &.downright {
      background-position: -520px -520px;
      width: 260px;
      height: 260px;
    }
  }

  .frederic .profile-picture {
    background-image: url(/images/frederic/sprite.jpg);

    &.upleft {
      background-position: 0 0;
      width: 260px;
      height: 260px;
    }

    &.up {
      background-position: -260px 0;
      width: 260px;
      height: 260px;
    }

    &.left {
      background-position: 0px -260px;
      width: 260px;
      height: 260px;
    }

    &.front {
      background-position: -260px -260px;
      width: 260px;
      height: 260px;
    }

    &.upright {
      background-position: -520px 0;
      width: 260px;
      height: 260px;
    }

    &.right {
      background-position: -520px -260px;
      width: 260px;
      height: 260px;
    }

    &.downleft {
      background-position: 0px -520px;
      width: 260px;
      height: 260px;
    }

    &.down {
      background-position: -260px -520px;
      width: 260px;
      height: 260px;
    }

    &.downright {

      background-position: -520px -520px;
      width: 260px;
      height: 260px;
    }
  }

  .baptiste .profile-picture {
    background-image: url(/images/baptiste/sprite.png);

    &.down {
      background-position: 0 0;
      width: 260px;
      height: 260px;
    }

    &.downright {
      background-position: -260px 0;
      width: 260px;
      height: 260px;
    }

    &.downleft {
      background-position: 0 -260px;
      width: 260px;
      height: 260px;
    }

    &.front {
      background-position: 0 -520px;
      width: 259px;
      height: 260px;
    }

    &.right {
      background-position: -260px -260px;
      width: 260px;
      height: 260px;
    }

    &.left {
      background-position: -520px 0;
      width: 260px;
      height: 260px;
    }

    &.up {
      background-position: -259px -520px;
      width: 259px;
      height: 260px;
    }

    &.upright {
      background-position: -520px -260px;
      width: 260px;
      height: 260px;
    }

    &.upleft {
      background-position: -518px -520px;
      width: 260px;
      height: 259px;
    }
  }
