.content-wrapper{
  width: 100%;}

  .image-holder{
    position: relative;
    margin: 0 auto;
    width: 260px;
    height: 260px;

    .icon-home,.circle{
      position: absolute;
      top: 0;
      left: 0;
      width: 260px;
      height: 260px;
    }

    .circle{
      z-index: 2;
    }
  }

  .brahim .profile-picture {
    background-image: url(/images/brahim/sprite.jpg);
  }

  .image-holder {

    .upleft {
      background-position: 0 0;
      width: 260px;
      height: 260px;
    }

    .up {
      background-position: -260px 0;
      width: 260px;
      height: 260px;
    }

    .left {
      background-position: 0px -260px;
      width: 260px;
      height: 260px;
    }

    .front {
      background-position: -260px -260px;
      width: 260px;
      height: 260px;
    }

    .upright {
      background-position: -520px 0;
      width: 260px;
      height: 260px;
    }

    .right {
      background-position: -520px -260px;
      width: 260px;
      height: 260px;
    }

    .downleft {
      background-position: 0px -520px;
      width: 260px;
      height: 260px;
    }

    .down {
      background-position: -260px -520px;
      width: 260px;
      height: 260px;
    }

    .downright {

      background-position: -520px -520px;
      width: 260px;
      height: 260px;
    }
  }