.content-wrapper{
  width: 100%;}

  .image-holder{
    position: relative;
    margin: 0 auto;
    width: 260px;
    height: 260px;

    .icon-home,.circle{
      position: absolute;
      top: 0;
      left: 0;
      width: 260px;
      height: 260px;
    }

    .circle{
      z-index: 2;
    }
  }

  .profile-picture {
    background-color: $idci-dark-grey;
    width: 260px;
    height: 260px;
  }

  .profile-picture {
    &.down {
      background-position: 0 0;
    }

    &.downright {
      background-position: -260px 0;
    }

    &.downleft {
      background-position: 0 -364px;
    }

    &.front {
      background-position: 0 -728px;
    }

    &.right {
      background-position: -260px -364px;
    }

    &.left {
      background-position: -520px 0;
    }

    &.up {
      background-position: -260px -728px;
    }

    &.upright {
      background-position: -520px -364px;
    }

    &.upleft {
      background-position: -520px -728px;
    }
  }

  .brahim .profile-picture {
    background-image: url(/images/brahim/sprite.png);
  }

  .eddie .profile-picture {
    background-image: url(/images/eddie/sprite.png);
  }

  .gabriel .profile-picture {
    background-image: url(/images/gabriel/sprite.png);
  }

  .baptiste .profile-picture {
    background-image: url(/images/baptiste/sprite.png);
  }

  .frederic .profile-picture {
    background-image: url(/images/frederic/sprite.png);
    background-size: contain;
    background-color: #faf4f3;
    background-repeat: no-repeat;
    background-position: right;
  }
