.partner {
  background-image: url("/images/partners.png");
  display: block;
  margin: 1rem auto;
  text-indent: -9999px;

  &.mbcreation-logo {
    background-position: -280px 0;
    width: 140px;
    height: 140px;

    &:hover {
      background-position: 0 0;
    }
  }

  &.mahii-logo {
    background-position: -280px -140px;
    width: 140px;
    height: 140px;

    &:hover {
      background-position: 0 -140px;
    }
  }

  &.profilcreatif-logo {
    background-position: -280px -280px;
    width: 140px;
    height: 140px;

    &:hover {
      background-position: 0 -280px;
    }
  }

  &.arcencielophile-logo {
    background-position: -280px -420px;
    width: 140px;
    height: 138px;

    &:hover {
      background-position: 0 -420px;
    }
  }

  &.ochelys-logo {
    background-position: -280px -557px;
    width: 140px;
    height: 140px;

    &:hover {
      background-position: 0 -557px;
    }
  }

    &.jeromemulsant-logo {
    background-position: -280px -700px;
    width: 140px;
    height: 140px;

    &:hover {
      background-position: 0 -700px;
    }
  }

}

ul.partners {
  text-align: center;

  li {
    display: inline-block;
    margin: 0 2rem;
  }
}
