/**********************
 ** Global variables **
 **********************/

$social-sprite-url: url(/images/sprite_rs.png);

/*******************
 ** Global Mixins **
 *******************/

@mixin social-background-position($social-name) {
  background-size: 150px;
  margin: 0.5em auto 0 auto;
  @if($social-name == 'twitter') {
    background-position: 0 0;
    height: 50px;
    width: 50px;
  } @else if($social-name == 'rss') {
    background-position: -50px 0;
    height: 50px;
    width: 50px;
  } @else {
    background-position: -100px 0;
    height: 50px;
    width: 50px;
  }
}