h1.logo {
  background: 0 0;
}

.button.learn-more {
  float: right;
}

.idci-content {
  padding: 3rem;
}

#training {
  margin-top: 5rem;
}

#training, #philosophy {
  em, h3 {
    color: $idci-green;
  }
}

#approach, #advice {
  background: $idci-light-grey;
}

#web-development {
  background: $idci-dark-grey;
}

section.row {
  width: 100%!important;
}



.accordion-content {
  padding: 3rem;
}