h1.logo {
  background: 0 0;
}

.button.learn-more {
  float: right;
}

#training, #philosophy {
  em, h3 {
    color: $idci-green;
  }
}

@media #{$small-only} {
  .accordion-toggle {
    background: $idci-dark-grey;
    border: .05rem solid $idci-white;
    font-weight: 300;
    height: 5rem;
    padding: 0 2rem;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;

    &:hover {
      background: #999;
      cursor: pointer;
    }

    &.open {
      background: #999;
    }

    h2 {
      font-size: 1rem;
      height: 100%;
      margin: 0;
      padding: 0;

      i.picture {
        color: #fff;
        float: left;
        font-size: 2rem;
        margin-right: 1rem;
      }

      &, i.picture {
        line-height: 5rem;
      }
    }

    .toggle-icon {
      border-left: 1px solid $idci-white;
      font-size: 1.5rem;
      height: 5rem;
      line-height: 5rem;
      margin-left: 1px;
      position: absolute;
      right: 20px;
      text-align: center;
      top: 0;

      i {
        color: $idci-black;
        font-size: 2rem;

        &:before {
          width: 100%;
        }
      }
    }
  }

  .accordion-content {
    display: none;
    padding: 1rem;
  }
}
