h1.logo {
  background: 0 0;
}

.button.learn-more {
  float: right;
}

.idci-content {
  padding: 3rem;
}

#training {
  margin: 0;
}

#training, #philosophy {
  em, h3 {
    color: $idci-green;
  }
}

#approach, #advice, #open-source {
  background: $idci-light-grey;
}

#web-development, #projects {
  background: $idci-dark-grey;
}

#tools {
  header {
    margin-bottom: 4rem;
  }
}

.accordion-content {
  padding: 3rem;
}