/*****************
 *** Team Page ***
 *****************/
section.team {
  height: 100%;
}

.member-name {
  color: $idci-blue;
}

.job-position {
  color: $idci-green;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.member-description {
  display: inline-block;
  line-height: 12rem;
  min-height: 12rem;
  padding: 1rem 0;
  text-align: justify;

  p {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
  }
}

.see-cv {
  font-family: Oswald, sans-serif;
}