/*****************
 *** Team Page ***
 *****************/
.team {

  .member  {

    header {
      background: 0 0;
      padding: 0;

      h2 {
        color: $idci-light-blue;
        font-weight: normal;
        margin-bottom: 0;
      }

    }

    .skills {
      margin: 1rem 0;

      .skill {
        padding-top: .4rem;

        img {
          height: 1rem;
          margin-right: .5rem;
        }
      }
    }
  }
}