.tools-list {
  height: 30rem;
  padding: 2rem 0;
  position: relative;
  width: 100%;

  li {
    margin: 0 auto;
    width: 140px;
  }
}

#tools {

  .sub-title {
    font-size: 1.2rem;
  }
}

/**************************
 *** Sprite declaration ***
 **************************/
a.tools-sprite {
  display: inline-block;
  background: url("/images/technos1.jpg") no-repeat;
  background-size: 20rem;
  margin: 1rem auto 0;
  text-indent: -9999px;
  vertical-align: middle;
  width: 107px;

  &.php {
    background-position: -107px 0;
    height: 56px;

    &:hover {
      background-position: 0 0;
    }
  }

  &.symfony1 {
    background-position: -106.9px -909px;
    height: 29px;

    &:hover {
      background-position: 0px -909px;
    }
  }

  &.symfony2 {
    background-position: -106.9px -871.5px;
    height: 36.5px;

    &:hover {
      background-position: 0px -871.5px;
    }
  }

  &.node {
    background-position: -106px -601px;
    height: 29px;

    &:hover {
      background-position: 1px -601px;
    }
  }

  &.meteor {
    background-position: -106.8px -631px;
    height: 25.5px;

    &:hover {
      background-position: 0 -631px;
    }
  }

  &.mysql {
    background-position: -106.8px -546px;
    height: 55px;

    &:hover {
      background-position: 0 -546px;
    }
  }

  &.mongodb {
    background-position: -107px -392px;
    height: 32px;

    &:hover {
      background-position: 0 -392px;
    }
  }

  &.postgresql {
    background-position: -106px -745px;
    height: 36px;

    &:hover {
      background-position: 1px -745px;
    }
  }

  &.redis {
    background-position: -107px -818px;
    height: 33px;

    &:hover {
      background-position: 0px -818px;
    }
  }

  &.rabbitmq {
    background-position: -106px -796px;
    height: 20px;

    &:hover {
      background-position: 0 -796px;
    }
  }

  &.kyototycoon {
    background-position: -106.9px -1150px;
    height: 60px;

    &:hover {
      background-position: 0 -1150px;
    }
  }

  &.html5-css3 {
    background-position: -107px -424px;
    height: 71px;

    &:hover {
      background-position: 0 -424px;
    }
  }

  &.bootstrap {
    background-position: -106px -169px;
    height: 54px;

    &:hover {
      background-position: 1px -169px;
    }
  }

  &.foundation {
    background-position: -107px -304px;
    height: 39px;

    &:hover {
      background-position: 0 -304px;
    }
  }

  &.jquery {
    background-position: -107px -465px;
    height: 22px;

    &:hover {
      background-position: 0 -465px;
    }
  }

  &.elk {
    background-position: -107px -1014px;
    height: 108px;

    &:hover {
      background-position: 0 -1014px;
    }
  }

  &.varnish {
    background-position: -107px -941px;
    height: 42px;

    &:hover {
      background-position: 0 -941px;
    }
  }

  &.docker {
    background-position: -107px -1122px;
    height: 27px;

    &:hover {
      background-position: 0 -1122px;
    }
  }

  &.proxmox {
    background-position: -106px -782px;
    height: 14px;


    &:hover {
      background-position: 1px -782px;
    }
  }

  &.angular {
    background-position: -107px -56px;
    height: 27px;

    &:hover {
      background-position: 0 -56px;
    }
  }

  &.gitlab {
    background-position: -107px -343px;
    height: 50px;

    &:hover {
      background-position: 0 -343px;
    }
  }

  &.redmine {
    background-position: -107px -853px;
    height: 19px;

    &:hover {
      background-position: 0 -853px;
    }
  }

  &.php-unit {
    background-position: -107px -657px;
    height: 88px;

    &:hover {
      background-position: 0 -657px;
    }
  }

  &.ansible {
    background-position: -107px -83px;
    height: 86px;

    &:hover {
      background-position: 0 -83px;
    }
  }

  &.sass {
    background-position: -107px -224px;
    height: 81px;

    &:hover {
      background-position: 0 -224px;
    }
  }

  &.wordpress {
    background-position: -107px -983px;
    height: 24px;

    &:hover {
      background-position: 0 -983px;
    }
  }
}

div.courses {

  a.tools-sprite {
    margin-right: 1rem;
  }
}
