.tools-list {
  height: 30rem;
  padding: 2rem 0;
  position: relative;
  width: 100%;

  li {
    width: 140px;
  }
}

.slick-arrow {
  cursor: pointer;
  height: 2rem;
  position: absolute;
  width: 100%;

  &.next {
    bottom: 0;
  }

  &.previous {
    top: 0;
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

/**************************
 *** Sprite declaration ***
 **************************/
a.tools-sprite {
  display: block;
  background: url("/images/technos.jpg") no-repeat;
  margin: 2rem auto 0 auto;
  text-indent: -9999px;
  width: 100px;

  &.php {
    background-position: -200px 0;
    height: 52px;

    &:hover {
      background-position: 0 0;
    }
  }

  &.symfony1 {
    background-position: -200px -852px;
    height: 27px;

    &:hover {
      background-position: 0px -852px;
    }
  }

  &.symfony2 {
    background-position: -200px -818px;
    height: 33px;

    &:hover {
      background-position: 0px -818px;
    }
  }

  &.node {
    background-position: -200px -564px;
    height: 29px;

    &:hover {
      background-position: 0 -564px;
    }
  }

  &.meteor {
    background-position: -200px -594px;
    height: 22px;

    &:hover {
      background-position: 0 -594px;
    }
  }

  &.mysql {
    background-position: -200px -512px;
    height: 52px;

    &:hover {
      background-position: 0 -512px;
    }
  }

  &.mongodb {
    background-position: -200px -369px;
    height: 29px;

    &:hover {
      background-position: 0 -369px;
    }
  }

  &.postgresql {
    background-position: -200px -699px;
    height: 34px;

    &:hover {
      background-position: 0 -699px;
    }
  }

  &.redis {
    background-position: -200px -766px;
    height: 34px;

    &:hover {
      background-position: 0 -766px;
    }
  }

  &.rabbitmq {
    background-position: -200px -746px;
    height: 20px;

    &:hover {
      background-position: 0 -746px;
    }
  }

  &.html5-css3 {
    background-position: -200px -399px;
    height: 65px;

    &:hover {
      background-position: 0 -399px;
    }
  }

  &.bootstrap {
    background-position: -200px -159px;
    height: 51px;

    &:hover {
      background-position: 0 -159px;
    }
  }

  &.foundation {
    background-position: -200px -285px;
    height: 37px;

    &:hover {
      background-position: 0 -285px;
    }
  }

  &.jquery {
    background-position: -200px -465px;
    height: 22px;

    &:hover {
      background-position: 0 -465px;
    }
  }

  &.elk {
    // For now we use another sprite to get elk logo
    background: url("/images/technos.png") no-repeat;
    background-position: -1820px -140px;
    height: 145px;
    width: 140px;

    &:hover {
      background-position: -1820px 0;
      height: 140px;
      margin-bottom: 5px;
    }
  }

  &.varnish {
    background-position: -200px -880px;
    height: 42px;

    &:hover {
      background-position: 0 -880px;
    }
  }

  &.docker {
    // For now we use another sprite to get elk logo
    background: url("/images/technos.png") no-repeat;
    background-position: -2100px -190px;
    height: 40px;
    width: 140px;

    &:hover {
      background-position: -2100px -50px;
    }
  }

  &.proxmox {
    background-position: -200px -733px;
    height: 14px;

    &:hover {
      background-position: 0 -733px;
    }
  }

  &.angular {
    background-position: -200px -54px;
    height: 24px;

    &:hover {
      background-position: 0 -54px;
    }
  }

  &.gitlab {
    background-position: -200px -322px;
    height: 46px;

    &:hover {
      background-position: 0 -322px;
    }
  }

  &.redmine {
    background-position: -200px -800px;
    height: 17px;

    &:hover {
      background-position: 0 -800px;
    }
  }

  &.php-unit {
    background-position: -200px -616px;
    height: 83px;

    &:hover {
      background-position: 0 -616px;
    }
  }

  &.ansible {
    background-position: -200px -78px;
    height: 81px;

    &:hover {
      background-position: 0 -78px;
    }
  }

  &.sass {
    background-position: -200px -210px;
    height: 75px;

    &:hover {
      background-position: 0 -210px;
    }
  }

}