.pic-ctn {
  height: 200px;
  margin-top: 5rem;
  width: 100vw;

  .pic {
    width: 100%;
  }

  &.keyframes {
    position: relative;
    width: 100vw;
    height: 300px;
  
    > div {
      left: 15%;
      opacity: 0;
      position: absolute;
      top: 0;
    }
  }
}

.carousel-article-media {
  max-width: 250px;
}

.carousel-article {
  .carousel-article-header {
    display: flex;

    p {
      color: $idci-color-blue;
      margin-left: 2rem;
    }

    @include until($tablet) {
      font-size: $idci-font-small;
    }
  }

  .carousel-article-title {
    color: $idci-color-dark-grey;
    font-size: $idci-font-1-5x;
    font-weight: bold;
    margin-top: 1rem;
    text-transform: uppercase;

    @include until($tablet) {
      font-size: $idci-font-medium;
    }
  }

  .carousel-article-description {
    margin: 1rem 0;

    @include until($tablet) {
      font-size: $idci-font-small;
    }
  }

  .carousel-article-button {
    background-color: $idci-color-blue;
    color: $idci-color-white;
    display: block;
    font-weight: bold;
    margin: auto;
    margin-top: 2rem;
    padding: .5rem 1rem;
    text-transform: uppercase;
    width: fit-content;

    @include until($tablet) {
      font-size: $idci-font-small;
    }
  }
}