.pic-ctn {
  width: 100vw;
  height: 200px;
  margin-top: 5rem;

  .pic {
    width: 100%;
  }

  &.keyframes {
    position: relative;
    width: 100vw;
    height: 300px;
  
    > div {
      position: absolute;
      top: 0;
      left: 15%;
      opacity: 0;
      animation: display 10s infinite;
    }

    @keyframes display {
      0% {
        transform: translateX(200px);
        opacity: 0;
      }
      10% {
        transform: translateX(0);
        opacity: 1;
        z-index: 100;
      }
      30% {
        transform: translateX(0);
        opacity: 1;
        z-index: 100;
      }
      40% {
        transform: translateX(-200px);
        opacity: 0;
        z-index: -100;
      }
      100% {
        transform: translateX(-200px);
        opacity: 0;
      }
    }
    
    @for $i from 2 through 10 {
      div:nth-child(#{$i}) {
        animation-delay: calc((#{$i}s - 1s) * 5);
      }
    }
  }
}



.carousel-article {
  .carousel-article-header {
    display: flex;

    p {
      color: $idci-color-blue;
      margin-left: 2rem;
    }

    @include until($tablet) {
      font-size: $idci-font-small;
    }
  }

  .carousel-article-title {
    color: $idci-color-dark-grey;
    font-size: $idci-font-1-5x;
    font-weight: bold;
    margin-top: 1rem;
    text-transform: uppercase;

    @include until($tablet) {
      font-size: $idci-font-medium;
    }
  }

  .carousel-article-description {
    margin: 1rem 0;

    @include until($tablet) {
      font-size: $idci-font-small;
    }
  }

  .carousel-article-button {
    background-color: $idci-color-blue;
    color: $idci-color-white;
    display: block;
    font-weight: bold;
    margin: auto;
    margin-top: 2rem;
    padding: .5rem 1rem;
    text-transform: uppercase;
    width: fit-content;

    @include until($tablet) {
      font-size: $idci-font-small;
    }
  }
}