.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;

    .tags-tag {
        &:not(:first-child) {
            margin-left: 0.5rem;
        }

        border: 1px solid $idci-color-green;
        border-bottom: 3px solid $idci-color-green;
        border-left: 3px solid $idci-color-green;
        border-radius: 1rem;
        color: $idci-color-green;
        font-weight: bold;
        padding-inline: 0.5rem;
    }
}
