/**********************
 ** Global variables **
 **********************/
 $idci-white: #FFF;
 $idci-blue: #394A59;
 $idci-blue-opac: rgba(57, 74, 89, 0.7);
 $idci-light-blue: #0DB0D1;
 $idci-light-blue-opac: rgba(13, 176, 209, 0.8);
 $idci-dark-grey: #DEDDD8;
 $idci-darker-grey: #595959;
 $idci-light-grey: #f7f7f7;
 $idci-green: #1E9847;
 $idci-green-opac: rgba(30, 152, 71, 0.8);
 $idci-dark-green: #007A01;
 $idci-black: #000;
 $idci-category-blue: #50B1E4;
 
 /****************
  ** Logo color **
  ****************/
 $moniteur-color: #C51617;
 $bodysculpt-color: #DA0B13;
 
 $font-url: '../fonts';
 $social-sprite-url: url("/images/rs.png");
 
 
 /*******************
  ** Global Mixins **
  *******************/
 
 @mixin border-radius($radius) {
   -webkit-border-radius: $radius;
   -moz-border-radius: $radius;
   -ms-border-radius: $radius;
   border-radius: $radius;
 }
 
 @mixin transition($property, $duration, $mode:ease) {
   -webkit-transition: $property $duration $mode;
   -moz-transition: $property $duration $mode;
   -o-transition: $property $duration $mode;
   transition: $property $duration $mode;
 }
 
 @mixin box-shadow($property) {
   -webkit-box-shadow: $property;
   -moz-box-shadow: $property;
   -o-box-shadow: $property;
   box-shadow: $property;
 }
 
 @mixin font-face($font-family, $font-url, $font-name, $font-weight: normal) {
   @font-face {
     font-family: $font-family;
     font-weight: $font-weight;
     src:  url($font-url + '/' + $font-name + '.ttf')  format('truetype');
     /*url($font-url + '/' + $font-name + '.eot') format('eot'),
     url($font-url + '/' + $font-name + '.woff') format('woff'),
     url($font-url + '/' + $font-name + '.svg#' + $font-name) format('svg');*/
   }
 }
 
 @mixin vertical-align($position: relative) {
   position: $position;
   top: 50%;
   -webkit-transform: translateY(-50%);
   -ms-transform: translateY(-50%);
   transform: translateY(-50%);
 }
 
 @mixin social-background-position($social-name) {
 
   background-size: 160px;
   margin: 0.5em auto 0 auto;
 
   @if($social-name == 'twitter') {
     background-position: -60px 0;
     height: 40px;
     width: 40px;
   } @else if($social-name == 'rss') {
     background-position: -32px 0;
     height: 40px;
     width: 40px;
   } @else {
     background-position: 0 0;
     height: 40px;
     width: 40px;
   }
 
   &:hover {
     @if($social-name == 'twitter') {
       background-position: -60px -41px;
     } @else if($social-name == 'rss') {
       background-position: -32px -41px;
     } @else {
       background-position: 0 -41px;
     }
   }
 }
 
 /* Placeholder selector */
 %vertical-align {
   position: relative;
   top: 50%;
   -webkit-transform: translateY(-50%);
   -ms-transform: translateY(-50%);
   transform: translateY(-50%);
 }
 
 %full-width {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}

 @include font-face('Molengo', $font-url, 'Molengo');
 @include font-face('Oswald', $font-url, 'Oswald-Light');
 @include font-face('Oswald-Bold', $font-url, 'Oswald-Bold', 'bold');