$idci-color-black: #000000;
$idci-color-light-black: #212121;
$idci-color-light-grey: #EEE;
$idci-color-blue: #008CBA;
$idci-color-light-blue: #dff0fd;
$idci-color-green: #1E9847;
$idci-color-white-lighter: #F7F7F7;

$idci-primary-font: 'Oswald';

$idci-font-small: 0.6rem;
$idci-font-medium: 0.8rem;
$idci-font-larger: 1.2rem;
$idci-font-2x: 2rem;

@font-face {
    font-family: $idci-primary-font;
    src: url("../fonts/Oswald-Regular.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: $idci-primary-font;
    src: url("../fonts/Oswald-Regular.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: $idci-primary-font;
    src: url("../fonts/Oswald-Light.ttf") format("truetype");
    font-weight: lighter;
}

html {
    body {
        color: $idci-color-black;
        background-color: $idci-color-white-lighter;
    }
}

* {
    font-family: $idci-primary-font;
    font-size: $idci-font-small;

    &.idci-title-primary {
        color: $idci-color-blue;
        text-align: center;
        font-size: $idci-font-2x;
        text-transform: uppercase;
        letter-spacing: 0.5rem;
    }

    &.idci-title-secondary {
        color: $idci-color-green;
        text-align: center;
        font-size: $idci-font-2x;
        text-transform: uppercase;
        letter-spacing: 0.5rem;
    }

    &.idci-subtitle-primary {
        color: $idci-color-light-black;
        text-align: center;
        font-size: $idci-font-2x;
        text-transform: uppercase;
        letter-spacing: 0.5rem;
    }

    &.idci-subtitle-secondary {
        color: $idci-color-green;
        text-align: center;
        font-size: $idci-font-2x;
        text-transform: uppercase;
        letter-spacing: 0.5rem;
    }
}

.section-cv {
    .section-cv-title {
        font-weight: bold;
        letter-spacing: initial;
        font-size: $idci-font-larger;
    }

    .section-cv-label {
        font-weight: bold;
        font-size: $idci-font-medium;
    }

    .section-cv-links {
        text-align: right;

        i{
            color: $idci-color-black;
        }
    }

    li {
        list-style-type: none;
    }

    .section-cv-button {
        margin-top: 2rem;
        width: fit-content;
    }

    .section-cv-banner {
        border: 2px solid $idci-color-light-grey;
        padding: 1rem;

        &.section-cv-banner-primary {
            background-color: $idci-color-light-grey;
        }

        &.section-cv-banner-secondary {
            background-color: $idci-color-white-lighter;
        }
        
        .section-cv-banner-title {
            letter-spacing: initial;
            text-decoration: underline;
            font-size: $idci-font-larger;
        }

        .section-cv-banner-subtitle {
            color: $idci-color-green;
            font-style: italic;
            margin-top: 2rem;
        }

        .section-cv-banner-list-item {
            display: flex;
            position: relative;

            p {
                color: $idci-color-blue;
                left: 25%;
                position: absolute;
                width: 50%;
            }
        }

        .section-cv-banner-education-date {
            color: $idci-color-green;
            font-style: italic;
            margin-right: 1rem;
        }

        .section-cv-banner-skills {
            li {
                display: flex;
                display: -webkit-box;
                margin-top: 0.5rem;
                width: 100%;

                .section-cv-banner-skill-title {
                    font-weight: bold;
                    width: 50%;
                }

                .section-cv-banner-skill-keywords {
                    width: 50%;
                }
            }
        }
    }
}