header {
    border: 1px solid $idci-color-grey;
    
    nav {
        margin: auto;
        //margin-top: 1rem;
        //width: 70%;

        ul {
            display: flex;
            justify-content: space-around;
            text-transform: uppercase;

            li {                
                a {
                    color: $idci-color-black;
                    font-size: $idci-font-medium;
                }
            }
        }
    }

    .header-media {
        img {
            width: 10rem;
        }
    }
}