$idci-color-black: #000000;
$idci-color-grey: #DEDDD8;
$idci-color-light-blue: #008CBA;
$idci-color-light-green: #1E9847;
$idci-color-white: #FFFFFF;

$idci-primary-font: 'Oswald';

$idci-font-medium: 0.8rem;
$idci-font-large: 1rem;

@font-face {
    font-family: $idci-primary-font;
    src: url("../../fonts/Oswald-Regular.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: $idci-primary-font;
    src: url("../../fonts/Oswald-Regular.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: $idci-primary-font;
    src: url("../../fonts/Oswald-Light.ttf") format("truetype");
    font-weight: lighter;
}