.section-articles {
    .section-articles-title {
        color: $idci-color-light-black;
        letter-spacing: inherit;
    }

    .tab {
        text-align: center;

        .tab-item {
            input {
            }

            label {
                text-transform: uppercase;
                padding: 1rem;

                &.label-second {
                    margin-left: 2rem;
                }
            }

            .tab-pane {
                margin: auto;
                margin-top: 4rem;
                width: 70%;
                text-align: left;

                .section-articles-list {
                    .section-articles-list-title {
                        background-color: $idci-color-blue;
                        color: $idci-color-white;
                        margin-bottom: 2rem;
                        margin-top: 2rem;
                        padding: .5rem 1rem;
                        text-align: center;
                        width: 6rem;
                    }

                    .section-articles-list-item {
                        align-items: center;
                        display: flex;
                        padding: .5rem;
                        min-height: 5rem;

                        .section-articles-list-item-media {
                            width: 5rem;
                            margin-right: 2rem;
                        }

                        .section-articles-list-item-link {
                            width: 100%;
                        }

                        .section-articles-list-item-infos {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}