.section-presentation {
    margin-bottom: 2rem;
    margin-top: 2rem;
    //width: 80%;

    .section-presentation-title {
        font-weight: bold;

        @include until($tablet) {
            font-size: $idci-font-1-5x;
        }
    }

    .section-presentation-subtitle {
        font-weight: bold;
        margin-top: 2rem;

        @include until($tablet) {
            font-size: $idci-font-2x;
        }

        &.section-presentation-subtitle-alone {
            margin-top: 0;
        }
    }

    .section-presentation-media {
        display: block;
        margin: auto;
        margin-top: 2rem;
        max-height: 250px;
        width: 400px;
    }

    .section-presentation-icon {
        display: block;
        margin: auto;
        margin-top: 2rem;
        max-height: 64px;
        width: 64px;
    }

    .section-presentation-description {
        margin: auto;
        margin-top: 2rem;
        text-align: center;
        width: 50%;

        @include until($tablet) {
            width: 100%;
        }

        .blue-colored-description-text {
            color: $idci-color-blue;
        }

        .green-colored-description-text {
            color: $idci-color-green;
        }
    }

    .section-presentation-courses {
        display: flex;
        justify-content: center;
        margin-top: 2rem;
        text-align: center;

        .section-presentation-courses-title {
            font-size: $idci-font-2x;
            letter-spacing: normal;
        }

        .section-presentation-courses-media {
            margin-left: 1rem;
            margin-right: 1rem;
            width: 2rem;
        }
    }

    .section-presentation-courses-content {
        align-items: center;
        display: flex;
        justify-content: center;
        margin: auto;
        margin-top: 2rem;
        width: 50%;

        .section-presentation-courses-content-element {
            margin-left: 1rem;
            margin-right: 1rem;
            width: 20%;
            height: 100%;
        }
    }

    .section-presentation-columns {
        margin-top: 2rem;

        .section-presentation-column {
            .section-presentation-column-title {
                font-size: $idci-font-1-5x;

                @include until($desktop) {
                    font-size: $idci-font-medium;
                }

                @include until($tablet) {
                    margin-top: 2rem;
                    font-size: $idci-font-1-5x;
                }
            }

            .section-presentation-column-list {
                margin: auto;
                margin-top: 2rem;
                width: 70%;

                @include until($desktop) {
                    width: 60%;
                }

                .section-presentation-column-media {
                    display: block;
                    filter: grayscale(1);
                    margin: auto;
                    margin-top: 1rem;
                    max-width: 80%;

                    &:hover {
                        filter: grayscale(0);
                    }

                    @include until($tablet) {
                        width: 30%;
                    }
                }
            }
        }
    }
}