.section-word-cloud {
    align-items: center;
    display: flex;
    flex-direction: column;
    row-gap: 4rem;

    .word-cloud {
        align-items: center;
        column-gap: 1rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 0.5rem;
        width: 50%;

        @include until($tablet) {
            width: 85%;
        }

        .word {
            font-size: $idci-font-1-5x;
            font-weight: bold;

            @include until($tablet) {
                font-size: $idci-font-large;
            }

            &.word-big {
                font-size: $idci-font-2x;

                @include until($tablet) {
                    font-size: $idci-font-larger;
                }
            }

            &.word-small {
                font-size: $idci-font-large;

                @include until($tablet) {
                    font-size: $idci-font-medium;
                }
            }

            &.word-blue {
                color: $idci-color-blue;
            }

            &.word-green {
                color: $idci-color-green
            }
        }
    }
}