.section-presentation {
    margin-bottom: 2rem;
    margin-top: 2rem;

    .section-presentation-title {
        font-weight: bold;
    }

    .section-presentation-subtitle {
        font-weight: bold;
        margin-top: 2rem;
    }

    .section-presentation-media {
        display: block;
        margin: auto;
        margin-top: 2rem;
        max-height: 250px;
        width: 400px;
    }

    .section-presentation-icon {
        display: block;
        margin: auto;
        margin-top: 2rem;
        max-height: 64px;
        width: 64px;
    }

    .section-presentation-description {
        margin: auto;
        margin-top: 2rem;
        text-align: center;
        width: 50%;

        .blue-colored-description-text {
            color: $idci-color-light-blue;
        }

        .green-colored-description-text {
            color: $idci-color-light-green;
        }
    }

    .section-presentation-courses {
        display: flex;
        justify-content: center;
        margin-top: 2rem;
        text-align: center;

        .section-presentation-courses-title {
            font-size: $idci-font-2x;
            letter-spacing: normal;
        }

        .section-presentation-courses-media {
            margin-left: 1rem;
            margin-right: 1rem;
            width: 2rem;
        }
    }

    .section-presentation-courses-content {
        display: flex;
        justify-content: center;
        margin-top: 2rem;
        text-align: center;

        .section-presentation-courses-content-element {
            margin-left: 1rem;
            margin-right: 1rem;
        }
    }

    .section-presentation-columns {
        margin-top: 2rem;

        .section-presentation-column {
            .section-presentation-column-title {
                font-size: $idci-font-1-5x;
            }

            .section-presentation-column-list {
                margin: auto;
                margin-top: 2rem;
                width: 70%;

                .section-presentation-column-media {
                    display: block;
                    margin: auto;
                    margin-top: 1rem;
                    width: 80%;
                }
            }
        }
    }
}