.section-members {
    .section-members-title {
        color: $idci-color-blue;
        margin-top: 4rem;

        @include until($desktop) {
            margin-top: 8rem;
        }
    }

    .section-members-introduction {
        margin: 2rem auto;
        text-align: justify;
    }

    .section-members-list {
        column-gap: 2rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: auto;
        max-width: 1200px;
        width: 90%;
    }
}