.section-dynamic-display {
    @include until ($tablet){
        width: 100%;
    }

    .section-dynamic-display-title {
        color: $idci-color-dark-grey;
        font-size: $idci-font-2-5x;
    }

    .section-dynamic-display-banner {
        background-color: $idci-color-light-grey;
        margin-top: 1rem;
        text-align: center;

        .section-dynamic-display-banner-media {
            height: 3rem;

            @include until ($tablet) {
                height: 2rem;
            }
        }
    }

    .section-dynamic-display-navigation {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        font-size: $idci-font-2x;
        text-align: center;

        &:has(.section-dynamic-display-navigation-label:only-child) {
            display: block;
            margin-top: 2rem;
        }

        .section-dynamic-display-navigation-label {
            color: $idci-color-dark-grey;
            font-size: $idci-font-2x;
            justify-self: end;
            margin-top: 5rem;
            padding: 0 2rem;
            text-align: right;

            @include until ($tablet){
                font-size: $idci-font-medium;
                letter-spacing: normal;
                padding: 0 1rem;
            }

            &.selected {
                text-decoration: underline;
            }

            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }

            &:not(:first-child) {
                border-left: 1px solid $idci-color-dark-grey;
                justify-self: start;
                text-align: left;
            }
        }

        >span {
            padding: 0 1rem;
        }
    }

    .section-dynamic-display-input {
        display: none;

        &:checked {
            +.section-dynamic-display-content {
                height: auto;
                visibility: visible;
            }
        }
    }

    .section-dynamic-display-content {
        height: 0;
        margin: 0 auto;
        visibility: hidden;
        width: 85%;

        @include until ($tablet) {
            width: 100%;
        }
    }

    .columns {
        margin: -0.75rem 0 0 0;

        .pic-ctn {
            align-items: center;
            display: flex;
            height: 100%;
            width: 100%;

            .slide-arrow {
                background-color: transparent;
                border: none;
                height: 2rem;
                transition-duration: 0.8s;
                width: 12rem;

                &:hover {
                    background-color: $idci-color-white;
                    border-radius: 15%;
                    box-shadow: 1px 1px 2px $idci-color-dark-grey;
                    cursor: pointer;
    
                    .slide-arrow-media {
                        width: 2rem;
                    }
                }

                .slide-arrow-media {
                    width: 1rem;
                }
            }

            .slick-list {
                .slick-track {
                    .slick-slide {
                        >div {
                            .columns {
                                .carousel-post-media {
                                    object-fit: contain;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}