.section-dynamic-display {
    @include until ($tablet){
        width: 100%;
    }

    .section-dynamic-display-title {
        color: $idci-color-dark-grey;
        font-size: $idci-font-2-5x;
    }

    .section-dynamic-display-navigation {
        text-align: center;

        .section-dynamic-display-navigation-label {
            color: $idci-color-dark-grey;
            font-size: $idci-font-2x;
            margin-top: 5rem;

            &.selected {
                text-decoration: underline;
            }

            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }

        >span {
            padding: 0 1rem;
        }
    }

    .section-dynamic-display-input {
        display: none;

        &:checked {
            +.section-dynamic-display-content {
                height: auto;
                visibility: visible;
            }
        }
    }

    .section-dynamic-display-content {
        height: 0;
        visibility: hidden;
    }

    .columns {
        margin: -0.75rem 0 0 0;

        .pic-ctn {
            align-items: center;
            display: flex;
            height: 100%;
            width: 100%;

            .slide-arrow {
                background-color: transparent;
                border: none;
                height: 2rem;
                transition-duration: 0.8s;
                width: 12rem;

                &:hover {
                    background-color: $idci-color-white;
                    border-radius: 15%;
                    box-shadow: 1px 1px 2px $idci-color-dark-grey;
                    cursor: pointer;
    
                    .slide-arrow-media {
                        width: 2rem;
                    }
                }

                .slide-arrow-media {
                    width: 1rem;
                }
            }

            .slick-list {
                .slick-track {
                    .slick-slide {
                        >div {
                            .columns {
                                .carousel-post-media {
                                    object-fit: contain;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}