.section-introduction {
    .section-introduction-title {
        font-weight: bold;

        @include until($tablet) {
            font-size: $idci-font-1-5x;
        }
    }

    .section-introduction-description {
        width: 70%;
        margin: auto;
        margin-top: 1rem;
        padding-bottom: 4rem;
        text-align: justify;

        li {
            text-align: left;
            
            &::before {
                content:url(../../../images/base/balise-right.svg);
                margin-right: 1rem;
                
            }
        }
    }
}